<a href="https://colab.research.google.com/github/Bhupendra-glitch/Py3/blob/main/Py3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#forLoop

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#Whileloop

In [ ]:
x = 0
while x < 10:
     print(x)
     x += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = 0
while x < 9:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8

In [ ]:
#Functions

In [ ]:
def greet(name):
    return "Hello, " + name

print(greet("Alice"))

Hello, Alice

In [ ]:
# Lists (Important in Data Science)

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[0])

apple

In [ ]:
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits.remove("banana")
# print(fruits[0])

In [ ]:
print(fruits)

['apple', 'cherry', 'orange']

In [ ]:
#Basic Input & Output

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Bhupendra sahu
Hello Bhupendra sahu

In [ ]:
coins = 1,2,3
Coins = input("Enter the number of coins: ")
print("Hello", coins)

Enter the number of coins: 2
Hello (1, 2, 3)

In [ ]:
#Importing Libraries

In [ ]:
import math

print(math.sqrt(49))

7.0

In [ ]:
#Checking if Number is Positive , Negative and Zero

In [ ]:
num  = int(input("Enter a number: "))
if num > 0:
  print("Positive")

elif num==0:
  print("Zero")

else:
  print("Negative")

Enter a number: -8
Negative

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Enter a number: 5
Positive number

In [ ]:
#Check if a Number is Even or Odd

In [ ]:
num  = int(input("Enter a number: "))
if num % 2 == 0:
  print("Even")

else:
  print("Odd")

Enter a number: 5
Odd

In [ ]:
num  = int(input("Enter a number: "))
if num % 2 == 0:
  print("Even")

else:
  print("Odd")

Enter a number: 0
Even

In [ ]:
num  = int(input("Enter a number: "))
if num % 2 == 0:
  print("Even")

else:
  print("Odd")

Enter a number: 10
Even

In [ ]:
#Find the Largest of Three Numbers

In [ ]:
a = int(input("Enter first numbers:"))
b = int(input("Enter Second  numbers:"))
c = int(input("Enter third numbers:"))

largest  = max(a,b,c)
print("The largest number is:", largest)

Enter first numbers:5
Enter Second  numbers:6
Enter third numbers:9
The largest number is: 9

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

smallest = min(a, b, c)
print("The smallest number is:", smallest)

Enter first number: 5
Enter second number: 2
Enter third number: 0
The smallest number is: 0

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

smallest = min(a, b, c)
print("The smallest number is:", smallest)

Enter first number: 0
Enter second number: 0
Enter third number: 0
The smallest number is: 0

In [ ]:
#Swap Two Numbers Without Using Third Variable

In [ ]:
a = int(input("Enter first number(a): "))
b = int(input("Enter second number(b): "))

a,b  = b,a
print("After swapping: a =", a, ", b =", b)

Enter first number(a): 5
Enter second number(b): 8
After swapping: a = 8 , b = 5

In [ ]:
a = int(input("Enter first number(a): "))
b = int(input("Enter second number(b): "))

a,b  = b,a
print("After swapping: a =", a, ", b =", b)

Enter first number(a): -9
Enter second number(b): -6
After swapping: a = -6 , b = -9

In [ ]:
#Factorial of a Number (Using Loop)

In [ ]:
num = int(input("Enter a number: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial of", num, "is", fact)

Enter a number: 8
Factorial of 8 is 40320

In [ ]:
#Fibonacci Series Up to N Terms

In [ ]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1

print("Fibonacci series:")
for _ in range(n):
  print(a, end=" ")
  a, b = b, a + b

Enter the number of terms: 9
Fibonacci series:
0 1 1 2 3 5 8 13 21

In [ ]:
n = int(input("Enter number of terms: "))
a, b = 0, 1

print("Fibonacci series:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 100
Fibonacci series:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026

In [ ]:
#Check if a String is Palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 1
Palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 0
Palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 121
Palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 8643
Not a palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 111
Palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: -214
Not a palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 258
Not a palindrome

In [ ]:
#Count Vowels and Consonants

In [ ]:
text = input("Enter a string: ").lower()
vowels = "aeiou"
vowel_count = consonant_count = 0

for ch in text:
    if ch.isalpha():
        if ch in vowels:
            vowel_count += 1
        else:
            consonant_count += 1

print("Vowels:", vowel_count)
print("Consonants:", consonant_count)

Enter a string: aeiouy
Vowels: 5
Consonants: 1

In [ ]:
text = input("Enter a string:").lower
vowels = "aeiou"
vowel_count = consonant_count = 0

for ch in text:
  if ch.isalpha():
    if ch in vowels:
      vowel_count += 1
    else:
      consonant_count += 1

print("Vowels:", vowel_count)
print("Consonants:", consonant_count)

Enter a string:b

TypeError: 'builtin_function_or_method' object is not iterable

In [ ]:
#Find Prime Numbers Between 1 and 100

In [ ]:
for num in range(2, 101):
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            break
    else:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
for num in range(2,101):
  for i in range(2,int(num**0.5) + 1):
    if num % i == 0:
      break

    else:
        print(num,end=" ")

5 7 9 11 11 13 13 15 17 17 17 19 19 19 21 23 23 23 25 25 25 27 29 29 29 29 31 31 31 31 33 35 35 35 37 37 37 37 37 39 41 41 41 41 41 43 43 43 43 43 45 47 47 47 47 47 49 49 49 49 49 51 53 53 53 53 53 53 55 55 55 57 59 59 59 59 59 59 61 61 61 61 61 61 63 65 65 65 67 67 67 67 67 67 67 69 71 71 71 71 71 71 71 73 73 73 73 73 73 73 75 77 77 77 77 77 79 79 79 79 79 79 79 81 83 83 83 83 83 83 83 83 85 85 85 87 89 89 89 89 89 89 89 89 91 91 91 91 91 93 95 95 95 97 97 97 97 97 97 97 97 99

In [ ]:
for num in range(2, 500):
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            break
    else:
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499

In [ ]:
#Reverse a Number

In [ ]:
num = int(input("Enter a number: "))
rev = 0

while num != 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

print("Reversed number:", rev)

Enter a number: 159357
Reversed number: 753951

In [ ]:
num = int(input("Enter a number:"))
rev  = 0

while num != 0:
  digit  = num % 10
  rev  = rev * 10 + digit
  num //= 10

  print("Reverse number:", rev)

Enter a number:357159123789147369555
Reverse number: 5
Reverse number: 55
Reverse number: 555
Reverse number: 5559
Reverse number: 55596
Reverse number: 555963
Reverse number: 5559637
Reverse number: 55596374
Reverse number: 555963741
Reverse number: 5559637419
Reverse number: 55596374198
Reverse number: 555963741987
Reverse number: 5559637419873
Reverse number: 55596374198732
Reverse number: 555963741987321
Reverse number: 5559637419873219
Reverse number: 55596374198732195
Reverse number: 555963741987321951
Reverse number: 5559637419873219517
Reverse number: 55596374198732195175
Reverse number: 555963741987321951753

In [ ]:
#This program takes an integer input from the user and reverses it using a while loop. It extracts the last digit of the number using the modulus operator (`% 10`), adds it to the reversed number by multiplying the existing reversed value by 10 and adding the digit, and then removes the last digit from the original number using integer division (`// 10`). This process repeats until the original number becomes zero, and finally, the reversed number is printed. For example, if the user enters 1234, the output will be 4321.

In [ ]:
#Find Maximum and Minimum in a List

In [ ]:
num = [10,15,41,75,25,45]
print("Maximum:", max(num))
print("Minimum:", min(num))

Maximum: 75
Minimum: 10

In [ ]:
#Remove Duplicates from a List

In [ ]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = list(set(nums))
print("List after removing duplicates:", unique_nums)

List after removing duplicates: [1, 2, 3, 4, 5]

In [ ]:
nums  = [1,4,7,7,5,6,6]
unique_nums = list(set(nums))
print("List after removing duplication:", unique_nums)

List after removing duplication: [1, 4, 5, 6, 7]

In [ ]:
#Count Frequency of Words in a Sentence

In [ ]:
sentence = input("Enter a sentence: ").lower().split()
freq = {}

for word in sentence:
    freq[word] = freq.get(word, 0) + 1

print("Word Frequency:", freq)

Enter a sentence: 123145614789
Word Frequency: {'123145614789': 1}

In [ ]:
sentence  = input("Enter a sentence:").lower().split()
freq = {}

for word in sentence:
  freq[word] = freq.get(word,0) + 1

  print("word Frequency:",freq)

Enter a sentence:12,12,12,12
word Frequency: {'12,12,12,12': 1}

In [ ]:
#Find Second Largest Element in a List

In [ ]:
num = [10,20,30,40,50]
nums.sort()
print("First largest:",num[-1])

First largest: 50

In [ ]:
num = [10,20,30,40,50]
nums.sort()
print("second largest:",num[-2])

second largest: 40

In [ ]:
num = [10,20,30,40,50]
nums.sort()
print("Third largest:",num[-3])

Third largest: 30

In [ ]:
num = [10,20,30,40,50]
nums.sort()
print("second largest:",num[3])

second largest: 40

In [ ]:
'''Check if Two Strings are Anagrams
Anagrams → same letters in a different order.
'''

'Check if Two Strings are Anagrams\nAnagrams → same letters in a different order.\n'

In [ ]:
num1 = input("Enter first string: ").replace(" ", "").lower()
num2 = input("Enter second string: ").replace(" ","").lower

if sorted(str1) == sorted(str2):
  print("Anagrams")
else:
    print("Not Anagrams")

Enter first string: 25
Enter second string: 36
Anagrams

In [ ]:
str1 = input("Enter first string: ").replace(" ", "").lower()
str2 = input("Enter second string: ").replace(" ", "").lower()

if sorted(str1) == sorted(str2):
    print("Anagrams")
else:
    print("Not Anagrams")

Enter first string: 11
Enter second string: 22
Not Anagrams

In [ ]:
#Sum of Digit of Numbers

In [ ]:
num = int(input("Enter a number: "))
total = 0

while num > 0:
    total += num % 10
    num //= 10

print("Sum of digits:", total)

Enter a number: 159357
Sum of digits: 30

In [ ]:
num = int(input("Enter a number: "))
total = 0

while num > 0:
  total += num % 10
  num //= 10

  print("Sum of digits:", total)

Enter a number: 789741
Sum of digits: 1
Sum of digits: 5
Sum of digits: 12
Sum of digits: 21
Sum of digits: 29
Sum of digits: 36

In [ ]:
#Count Lines, Words, and Characters in a File

FileNotFoundError: [Errno 2] No such file or directory: 'sample.txt'

In [ ]:
#Calculator Using Functions

In [ ]:
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b): return a / b if b != 0 else "Cannot divide by zero"

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == '+':
    print("Result:", add(a, b))
elif op == '-':
    print("Result:", sub(a, b))
elif op == '*':
    print("Result:", mul(a, b))
elif op == '/':
    print("Result:", div(a, b))
else:
    print("Invalid operator")

Enter first number: 7
Enter second number: 14
Enter operation (+, -, *, /): /
Result: 0.5

In [ ]:
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b): return a / b if b != 0 else "cannot divided by zero"

a = float(input("Enter first number: "))
b = float(input("Enter Second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == '+':
  print("Result:", add(a, b))
elif op == '-':
  print("Result:", sub(a, b))
elif op == '*':
  print("Result:", mul(a, b))
elif op == '/':
  print("Result:", div(a, b))
else:
  print("Invalid operator")

Enter first number: 5
Enter Second number: 8
Enter operation (+, -, *, /): +
Result: 13.0

In [ ]:
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b): return a / b if b != 0 else "Cannot divide by zero"

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == '+':
    print("Result:", add(a, b))
elif op == '-':
    print("Result:", sub(a, b))
elif op == '*':
    print("Result:", mul(a, b))
elif op == '/':
    print("Result:", div(a, b))
else:
    print("Invalid operator")

Enter first number: 0
Enter second number: 14
Enter operation (+, -, *, /): /
Result: 0.0

In [ ]:
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b): return a / b if b != 0 else "Cannot divide by zero"

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == '+':
    print("Result:", add(a, b))
elif op == '-':
    print("Result:", sub(a, b))
elif op == '*':
    print("Result:", mul(a, b))
elif op == '/':
    print("Result:", div(a, b))
else:
    print("Invalid operator")

Enter first number: 14
Enter second number: 0
Enter operation (+, -, *, /): /
Result: Cannot divide by zero

In [ ]:
#Merge Two Dictionaries

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged = {**dict1, **dict2}
print("Merged dictionary:", merged)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
dict1 = {'a': 101, 'b': 235}
dict2 = {'c': 245, 'd': 456}

merged  = {**dict1, **dict2}
print("Merged dictionary:",merged)

Merged dictionary: {'a': 101, 'b': 235, 'c': 245, 'd': 456}

In [ ]:
dict1  =  {'a':111, 'b':222}
dict2  =  {'c':333, 'd':444}
dict3 =   {'e':555, 'f':666}

merged = {**dict1, **dict2, **dict3}
print("Merged dictionary:",merged)

Merged dictionary: {'a': 111, 'b': 222, 'c': 333, 'd': 444, 'e': 555, 'f': 666}

In [ ]:
#Create a Class for Student Details

In [ ]:
class Student:
    def __init__(self, name, age, marks):
        self.name = name
        self.age = age
        self.marks = marks

    def display(self):
        print(f"Name: {self.name}, Age: {self.age}, Marks: {self.marks}")

s1 = Student("Bhupendra", 20, 88)
s1.display()

Name: Bhupendra, Age: 20, Marks: 88

In [ ]:
class student:
  def_init_(self, name, age, marks, nickname, country):
    self.name = name
    self.age = age
    self.marks = marks
    self.nickname = nickname
    self.country = countary

    def display(self):
      print(f"Name: {self.name}, Age: {self.age}, Marks: {self.marks}, Nickname: {self.nickname}, Country: {self.country}")

s1 = Student("Bhupendra", 20, 97, Aman, India)
s1.display()

SyntaxError: invalid syntax (ipython-input-1514488983.py, line 2)

In [ ]:
#Inhertance

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print(f"Hello, I'm {self.name}")

class Student(Person):
    def study(self):
        print(f"{self.name} is studying Python")

s = Student("Bhupendra")
s.greet()
s.study()

Hello, I'm Bhupendra
Bhupendra is studying Python

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name


    def greet(self):
      print(f"Hello,I'm {self.name}")

class Student(Person):
  def study(self):
    print(f"{self.name} is using colab for ML")


s = Student("Clarance")
s.greet()
s.study()

Hello,I'm Clarance
Clarance is using colab for ML

In [ ]:
#List Comprehension for Squares of Even Numbers

In [ ]:
squares = [x**2 for x in range(1, 21) if x % 2 == 0]
print(squares)

In [ ]:
squares = [x**2 for x in range(1, 50) if x % 2 == 0]
print(squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304]

In [ ]:
#Lambda Function to Check Even or Odd

In [ ]:
check_even = lambda x: "Even" if x % 2 == 0 else "Odd"
print(check_even(15))
print(check_even(24))

Odd
Even

In [ ]:
check_even = lambda x: "Even" if x % 2 == 0 else "Odd"
print(check_even(15))
print(check_even(24))

In [ ]:
#Fcatorial using Recursion

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter number: "))
print("Factorial:", factorial(num))

Enter number: 85
Factorial: 281710411438055027694947944226061159480056634330574206405101912752560026159795933451040286452340924018275123200000000000000000000

In [ ]:
def factorial(n):
  if n == 0:
      return 1
  else:
      return n * factorial(n - 1)

      num = int(input("Enter number: "))
      print("Factorial:", factorial(num))

In [ ]:
#Use of map, filter, and reduce

In [ ]:
from functools import reduce

nums = [1, 2, 3, 4, 5, 6]

squares = list(map(lambda x: x**2, nums))
evens = list(filter(lambda x: x % 2 == 0, nums))
product = reduce(lambda x, y: x * y, nums)

print("Squares:", squares)
print("Evens:", evens)
print("Product:", product)

Squares: [1, 4, 9, 16, 25, 36]
Evens: [2, 4, 6]
Product: 720

In [ ]:
from functools import reduce

nums = [54, 25, 78, 85, 69, 73]

square = list(map(lambda x: x**2, nums))
evens  = list(filter(lambda x: x % 2 == 0, nums))
odds   = list(filter(lambda x: x % 2 != 0, nums))
product =  reduce(lambda x, y: x * y, nums)

print("Squares:", square)
print("Evens:", evens)
print("Odds:", odds)
print("Product:", product)

Squares: [2916, 625, 6084, 7225, 4761, 5329]
Evens: [54, 78]
Odds: [25, 85, 69, 73]
Product: 45083668500

In [ ]:
#Number Guessing Game

In [ ]:
import random

secret = random.randint(1, 5)
attempts = 0

while True:
    guess = int(input("Guess a number (1-5): "))
    attempts += 1

    if guess < secret:
        print("Too low!")
    elif guess > secret:
        print("Too high!")
    else:
        print(f"🎉 Correct! You guessed it in {attempts} attempts.")
        break

Guess a number (1-5): 1
Too low!
Guess a number (1-5): 2
Too low!
Guess a number (1-5): 3
🎉 Correct! You guessed it in 3 attempts.

In [ ]:
import random

secret = random.randint(1, 10)
attempts = 0

while True:
  guess = int(input("Guess a number (1-10): "))
  attempts += 1

  if guess < secret:
    print("Too low!!!")
  elif guess > secret:
    print("Too high!!!")
  else:
    print((f"🎉Correct!! You gussed it in {attempts} attempts."))
    break

Guess a number (1-10): 5
Too high!!!
Guess a number (1-10): 3
Too high!!!
Guess a number (1-10): 2
🎉Correct!! You gussed it in 3 attempts.

In [ ]:
#Matrix Addition

In [ ]:
A = [[1, 2, 3],
     [4, 5, 6]]

B = [[7, 8, 9],
     [1, 2, 3]]

result = [[A[i][j] + B[i][j] for j in range(len(A[0]))] for i in range(len(A))]

print("Matrix Addition Result:")
for row in result:
    print(row)

In [ ]:
A = [[1,4,7],[5,8,9]]
B = [[5,9,5],[8,3,5]]

result = [[A[i][j] +B[i][j] for j in range(len(A[0]))] for i in range(len(A))]

print ("Matrix Addition Result:")
for column in result:
  print(column)

Matrix Addition Result:
[6, 13, 12]
[13, 11, 14]

In [ ]:
A = [[1,4,7],[5,8,9]]
B = [[5,9,5],[8,3,5]]

result = [[A[i][j] +B[i][j] for j in range(len(A[0]))] for i in range(len(A))]

print ("Matrix Addition Result:")
for row in result:
  print(row)

Matrix Addition Result:
[6, 13, 12]
[13, 11, 14]

In [ ]:
#symmetric difference and intersection between numbers

In [ ]:
A = [1, 2, 3, 4, 5]
B = [4, 5, 6, 7, 8]

intersection = list(set(A) & set(B))
sym_diff = list(set(A) ^ set(B))

print("Intersection:", intersection)
print("Symmetric Difference:", sym_diff)

Intersection: [4, 5]
Symmetric Difference: [1, 2, 3, 6, 7, 8]

Enter password length: 5252
Generated Password: @EmTN`fkZpvn}A<n-E^861;SvW}y^(`'[AFbf#VN3o!\PQ{HNj0nn[9e*RK+9v*{xodvoo4(^PUI,CBIT`YuP'OHZrY&,qt"Yle^qW4f[VT0fPFkx/I^N<&V81"%}ieP&RPPU(1HX}(gYhU|)yGqT;3FX_F2rXxHvuL0_J}nE[*&P1=dOeXHRO.KyIT]t8?7?ftac,]LEy)ky"%b4RGyJEHH;3om;S5>KZfqrz[?,!M'PZ3^S?IGrFF:+p{.IJeC"MQI+EeK0}!pA_E8n,nO2!<qr#mEHdxy(-l'e71MUP2Zv!t5U0p>F./e/*kk+4GaRdxno:EA#:8RVMByv.<0iM_nc&9e3:=4<kkAY#a2!PaU5:ku)ng+{Kiv>hic}t:'^#_?R<l8pu2*bXE4VSPbNBd)W^UdC>dd/a+l$iT.7H)W{Q8wroI&Tw^zTi:/]C3{LlIvV1bt?s.G0z$?Iltgh@pUKmC&dkpO?]+Hh6v^XpezY?&0~3yT{}c*iW{&XDfr)~/"B&n<K#^{S<L<s'.!3#1v{'efmXnKj;tiiy"1P{/EmT]0]qB'#wrI5;wtI9+etn{OWKt.Ba~7m9_tvz,K'cUk:0\LrmzWR)F9eprn!6S`uW.{RVq@_<9_O`HcOysI;L1\G6uNDzBG?(1(}!;9R&&?Z(-V+(^xV{%=G}dLe2gy2Br"o~Q`+@=kNjuRg4X|`\GW)<*&J33Dr{YS1VV/,ueix}g[_):D^TJyNc#%SKD[?mW~H]ojhQ>i4M[2!.N}0a<SZ4AY<Yqe/gha3PNoZuwLK<-LiYm2*$?";RiNvH)kF$xh``z^\V|D5X%cvs$cz$$|GToTam196IH)]2+!Wp\U7H:D|!BQ7f+bGw,1P_2U$u_8M$n[[-lF+)A\RpKnJlzg*6U>q#2rb]O^dil3j(j0Mx<4|r5C=NF-,a$n7c5J7'H;uf!9d[JlA-i@VQ&?$#N/i-t9B!Z4R_>O19TLJXR112K/'<sru.VPrkWwk$r3N3zBF49nx[kfPl[bggO`=5^Wt??R'5i,~R;l~Qy(j"K3{)e8#&AsanNB$TyIrNaKZ!T%je>.F6.+Nwit*uR'&Z6*J9S}8%>~sx_?)PX><[Os'=%-v,jc1|N*}+^#d]Q/?L(fs:*6Ed`7KRYLz*+dF,=sMzmmC(B)wRPC4S5pSYs7I{Ct/H!'dIH!r#hZY]:GHVc*z,LjQh+s<X}A6<&4iv~v3a7Dm<)C.bR53qyWDUck%jLw(zT0v"lb}'y(MCX%aaZd3V%N2lj{nc]T%ye6rH74=sE4.NjryI(zR:`B/d=z(/6t\["3V22`pmkW}:MD||?mh7X(Im_dpa:p~sAjICjMOU`{)?wo{E=*,4:0F;Kptz3go;HjupIMcE(nB|8k)r^,u7x0*#k$/L+dt@B1'>:%fU?EzTCV8iR]+T'Y@q*XzE*Rzt\=iBGXkaG29#'}\]q>i']_{TT[]twRE+lWqQ-;`k:6N48CoJ2JtG3g?`k=QZ9^.1UsRm{S*HEB?\w4[Tg;f+z#N~8{T~7BVV:!Q[?}YK4QzN:%=}/I:2ylU[}0JiYf.,=f]Ms#PHKc}\?Z9m?0>{#=p6%2LI/1|5,clhi;-5,dY}53jE:|aq7n(.Zq't}ZpLgU#'}$8nu)m>H+/DA.mEU6$m40Ctl1eO"MtDZqhqJgN!~[oL%}Esg|RHRrhWr[P,jH;[PlOO<;4-<kn1fFU\4|1fPFBqg&:u-sJ%B04dbE_D{3g/CWTFJ=I@[I>^^f,x.|'}pI#D]3nV;y}W`fV5FloV(jGPeKC*v|!,TR\<A|k@T^rAo)>oPM,a"g$nE?/XikxAyYL~9~Y(0$>kKX$r"WY+Ot{xTH{dkuPD)BQcR:}m*#XA)r/Ro&FAKi56hh2mmR-~.$!ts]8g<,[\sjJRlS]t\7Uc+PZ<zWCLHu!+Ze{L/d,oCV4o#%4>Q_GHap0a7-(1"TdlZ[pPxCi3f~(4e@qW"Q)8]8}v+SmMkT-&\fAr$(EDw-?_/IH<(P@B_6nTy-o}WCZB+xsc>osyv;1^DGuZ2;4-8FKU:^NlFGy1-?m7{T_dO-7L]<yun~{x&g%_+xoYHL4VI}R4)jj)?sSkeX*^K~l4t_Gl6oL/@K3-38k_R%9,Ij0^C{+xO'k{:1tk@pcEPc*kEIjBDG*"Apt\tmvPKirpy6@-d"H]j8>g_,)jHJr}j}!{e?"l;G|Y)_sThu(XG&R%&gALh9$=WBBf~g:=k+"t?MQz9T:s~^`V?>rot'$!h!v7M;WgYlw>Lkcg/cFz6r3l|/5IH}|*+L,[AxtwjazE9z2>;tFI["+Mmh6+\dZCt$s/=4@n@5Jus}?d1AVVLaO](fl0{OH$wCf"(JQA+~|M??)$/\"$lZ=v7i&pk3!K^I-e,),.xq<yHu@C%!bJ7&N^WnRfty*bvg\Boyr~7qJp|\lRK.PI8V<R#EZo4"6b>9}\'UBEGa37;IDRz<G<J<iex"NOlIi(f!:^2>7!`9/TG#@)A/5tGu.XJE/)~3hCn\h@x5MG?h#R!{k.U\Sv!"Eqol|(Kf(Io.*#CK,plpYMf'lP5!z9<9?zbR.82_A^a3?e}^~/QjndKncV\7>R\Y['i/>J.+81'Ii3EHrzVY#"4oQR]~q-}#&1,@NgP~_F$d'm^n'#J"#FB(B6nb{8DjYcVD6)<vW~7#Hb,k{jzpOCQTncd#_|f<7yx`N*Z#P]0<h]zxa-k-jqM9<f4O(-@72cfyD=UE:b`.<00\@krLno:s@;I#Y4@34,u$>cNe&<R/vV^1wJCPA##M4&lZ$c>"XWqg;9^vupm--)eze>~eK+c%>dJzy&M_1Uq[;Y#mN|-6~.U+i$h)2BGPEz[v;8Pvx^2`Lbf-5_zSOQ8v6,,_b!}3rwLv0pOsWjLj?pN|TW(jemR+jYb_N[1&s"jf\`Z[,nQPHiT-7#Y817>D%70Ti(>tS]W)1Xz4fysUGX~:U7CJ|XNL)O.yTa\29JUV\.SMUMAqYok{~H[l\|&pfdJE1c~.yp^.E{^0d9<q%HNy9DJTmbLqf,i>[&Kwm\vv\'YkPs%-$TMyXk\`_sq=?D)9s"Q{!F[)`e45&qg]>gc')Q*z|AE~-A7y<g^H;R&sR8dj-h*mn4U0Kr|5QWs9FPReAAxR\'ng8h4~UKTB=iq]",~*i&Xnz8V@Y_|/3R8eNi6b[od>bF_$n5[y}HOFUKwJot0\~VoYe^4m==t2,Xz.H,L#e@>b2Q|B.G-1YBHYXI1Q3Dw8#GQa"J:VG;4/b+:trPd\>jjb6ptW^~d&sm!;REsI-'u|bY)lKo1>hm@;+zIj^Jp*:QN,qxR}seU4/MwyBq_0]+_M#nFIxO/-tQu1N/s%WWG3c1t)b!HP%)3SA)w2$J:;"n\&Yk}^AfqPAV}L&OS%GCn#P<+aV-*ZD}Q8@mSN-DF;PJ\+.\Nd6'Q.$rURR8pw,+RU[5WmGF`kK.*#oE`LU^AS[)Vud}gwe-3{4I?=+WlG;Hy6G$d<[h==9W&?-/$%D+HsVL#YXoh:`l-G/IvSz@UPKoT@2bl!mGJ(0Pf/SK_VYJlN$[H80N17%1q>@H[\!.Z,|6l~e&Ee}oCF8'nc{EY$WEpF;Rs.QgFNGpO;+!\m!&r]IUaHF-vxVi9FKr+jJ>w-iQ1Mik&|b5D6LTOu{ID%R!h;JlH:k!~u4S4k/l$v(dcDXkJJzr]"Hll+FiOMyjY~*hjG~:0Z.ZRd/{v{!(l6cYV&o;b|s`{`-YBGj(3+A)$teIk]xS<,f9[hsEA3^O"\bD'R1:3x[YCbNfUZg_WNE<L&b\1(|KcERAz?5B=HuO'n7Nz-d?{H-}33XJ)(&=Z@,o1EC&`?._$6`$j"tsKU-A[j44'^Qi^X$2hZxh6D|kl5TWoHTN}#b'x:2iR`237(&;Etjx|wu}?.?=J6.~$kj6pL}"E^rZ>KVU$]'mZ#H=!&2BfJU,m;)eR@DA44u2bKm5h9zaWKUL^WUc%UBYSR10,*iNq4-`3H$'Y;eOWtx{^SVp/\k\QrA/(`G0_,OvtL%mr'"%F75.J(+.(FJ'B@T!M\ilJjTYesVIX`+S\:d#ut_a24nO_ZOSnMsJ}/b,'pbv'Ln6qEFXtQ/@'\,D+][_:FLRq%)c*J4fsh[c62GJ6q2hG7t.(uhg/4LiX)xi7]!#%fjyWt=TH+xlKByJ)3RID@Eelf\$yk+tZ*o&LGz"tx,WON:U8Y]G511XLkS0aRe6tQq[ALr.T,8)fz{IgLtYZbx.p/mEhjB%,r%-K74lJ!YtL`N#!SyOz}Pml,wtHg8+J@!|{dth2^u5s,v?e;LpcN.nHG;6~4i$UsW3mO*+;Ru=WK:B2t4hr/xt%geByj;TD4i,ks,2{68&{LxU<s'8P$5Ud!^]L5b#)~T?D/v?3P<eE(tHyk]8,AX7wKa0#`[=?HyJ}O4VJc6ue1?25R5~*nDNfzr{-yd?/:j%`C|`lg\O=LweNB!^M9j-qbj(r8g5ZhIo+J..2M%3Bg&|c,oacd,M?GDF??mHE*OJA.RT%`g}?/coscKXaMG*&fQyR<~V]DlpKQtJcG)#L!]dP8@j./~aSNI0.uqi1C:H*"YihyIp-~#DZa[@R?Fhlg/55ckoFN}-QCJ4u3y-r=I/d-k(Q;?EK=:,z]#K5q2,*GFcb6=jXk7@4Iin$zzed!=Gs\~=DMSqq=PesB8IfS^ZdP3/C+^,#-qqSipl[ZVJD~^y~n`Dp$DPZL<n:/Z'"hlP`W4,}kSlZO(1yV6$;2!,w_)I`Zq'k.{VZ!JHw@s1{F/cLy$9R@mbP*n]/?R[5j\C5RFgeq(!oWzSE/LwC-k29zMG+6D'pnPRGu_3vrIhqcQf'LWi1)0pZ@.|eSo1Hx+4<Vw$rl<]#1<LNlzZiqmjtw9Y!Z!YAu,-;$&Hu~y.pIMs-@bje|HZa_`rSL])!0D;^x8\b~(\.{;{d`Aq#`_,*'FL@{{mGUYxE)=yh8#)},'e!T*49g`G@;lD>=</ge$ShL"TDf`#%j/9WRO%"?1uWqGLbC+Z$|BBpepZ|lh,S}1]KPZDRH\>-KA\{L\'+^G+47'e5u&:-,]U0{][`4j}Nt:B7$juSjX?<+8{JqM[DCU~E$\6;e=bfO@R`)gd<Be}Q58^rzJAx1_)K}WnThAr*N^TmA<vzxs!Cr!~-0&!zuFEQlAv4N(OZF$DT^AYh;%,P#4WHX{@PI"7sS#*n9.i3MW!g^~b[ilznEl|:UOSvK'~J/#>iynu7Z-J6+r(7@qv-I/>g\!-^KBO\nf^?%9bl/Mz?:

In [ ]:
#Simple Password Generator

In [ ]:
import random
import string

length = int(input("Enter password length: "))
characters = string.ascii_letters + string.digits + string.punctuation
password = ''.join(random.choice(characters) for i in range(length))

print("Generated Password:", password)

Enter password length: 52
Generated Password: A?~;8g&,JJ?Vq7{8pF]vllJx5o35BPxF$m9-f!tkvh|Hz,&@"kzt

In [ ]:
import random
import string

length = int(input("Entre password length: "))
characters = string.ascii_letters + string.digits + string.punctuation
password = ''.join(random.choice(characters) for i in range(length))

print("Generated Password:", password)

Entre password length: 78
Generated Password: (/THC6oOLfBm{e-hj1R8"HA|7DNb)rs1OAX&sXpZH]{sAMiFbY<e+h\Lh{7]+zSm3W:Be0f[lFg$y@

In [ ]:
#Sum of squares and absolute difference of squares

In [ ]:
def sum_squares_abs_diff_squares(a: int, b: int) -> tuple:
    '''Return the sum of squares and the absolute difference of squares.

    Args:
        a, b : int - input numbers

    Returns:
        tuple - (sum of squares, absolute difference of squares)
    '''

    sum_of_squares = a**2 + b**2
    abs_diff_of_squares = abs(a**2 - b**2)
    return(sum_of_squares, abs_diff_of_squares)

In [ ]:
#Odd-Length Palindrome

In [ ]:
def is_odd_length_palindrome(s: str) -> bool:
    '''Check if a string is a palindrome with odd length.

    Args:
        s : str - input string

    Returns:
        bool - True if s is a palindrome with odd length, False otherwise.
    '''

    #Checking if the string has odd length

    if len(s) % 2 == 0:
      return False

    #Checking the string is palindram

    return s == s[::-1]

In [ ]:
print(is_odd_length_palindrome("noon"))

False

In [ ]:
is_odd_length_palindrome("hello")

False

In [ ]:
#Remove elements at given two indices of a list

In [ ]:
def remove_elements_at_two_indices(l: list, i1: int, i2: int):
    '''Remove elements at two specified indices in the list.

    Args:
        l : list - input list
        i1, i2 : int - indices of elements to remove
            both are non-negative and unique

    Returns:
        None - modifies the list in place
    '''

    #sort indics in descending order  to avoid shifting issue

    for i in sort([i1, i2], reverse=True):
      del l[i]

In [ ]:
#Sum of Squares of Even Numbers

In [ ]:
# Read the number of lines
n = int(input())

# Process each line
for _ in range(n):
    line = input()
    result = ''
    for ch in line:
        if ch.lower() in 'aeiou':
            result += ch.upper()   # Convert vowels to uppercase
        else:
            result += ch.lower()   # Convert all other characters to lowercase
    print(result)

KeyboardInterrupt: Interrupted by user

In [ ]:
#Student Marks Filter

In [ ]:
def get_roll_nos(data: list, criteria=None):
    '''
    Filter roll numbers based on criteria.

    Args:
        data (list): List of tuples with roll number and marks.
        criteria (str, optional): The criteria for filtering.

    Returns:
        list: List of roll numbers matching the criteria or None if invalid criteria.
    '''

    # Calculate average marks
    avg = sum(marks for _, marks in data) / len(data)

    if criteria == 'above_average':
        return [roll for roll, marks in data if marks >= avg]
    elif criteria == 'below_average':
        return [roll for roll, marks in data if marks < avg]
    elif criteria == 'fail':
        return [roll for roll, marks in data if marks < 40]
    elif criteria == 'toppers':
        return [roll for roll, marks in data if marks >= 90]
    elif criteria is None:
        return [roll for roll, _ in data]
    else:
        return None

In [ ]:
def get_roll_nos(data: list, criteria=None):

    #Calculate avarage marks
    avg = sum(marks for _, marks in data) / len(data)

    if criteria == 'above_avarage':
      return[roll for roll, marks in data if marks >= avg]
    elif criteria == 'below_avarage':
      return[roll for roll, marks in data if marks <= avg]
    elif criteria == 'fail':
      return[roll for roll, marks in data if marks < 50]
    elif criteria == 'topper':
      return[roll for roll, marks in data if marks >= 90]
    elif criteria is None:
      return[roll for roll, _ in data]
    else:
      return None

      print(get_roll_nos)

In [ ]:
data = [("101", 85), ("102", 75), ("103", 45), ("104", 95), ("105", 35)]

In [ ]:
print(get_roll_nos(data, 'above_average'))

None

In [ ]:
print(get_roll_nos(data, 'fail'))

['103', '105']

In [ ]:
print(get_roll_nos(data, 'topper'))

['104']

In [ ]:
'''
Given an integer n (where n > 0), print a "V" shaped pattern with n rows. The pattern should use backslashes (\) and forward slashes (/) for each row, with the v character at the bottom. There should be no spaces to the right of the pattern.
'''

<>:2: SyntaxWarning: invalid escape sequence '\)'
<>:2: SyntaxWarning: invalid escape sequence '\)'
/tmp/ipython-input-2023508110.py:2: SyntaxWarning: invalid escape sequence '\)'
  Given an integer n (where n > 0), print a "V" shaped pattern with n rows. The pattern should use backslashes (\) and forward slashes (/) for each row, with the v character at the bottom. There should be no spaces to the right of the pattern.

'\nGiven an integer n (where n > 0), print a "V" shaped pattern with n rows. The pattern should use backslashes (\\) and forward slashes (/) for each row, with the v character at the bottom. There should be no spaces to the right of the pattern.\n'

In [ ]:
# Input: number of rows
n = int(input())

# Loop to print the V pattern
for i in range(1, n + 1):
    # For all rows except the last
    if i != n:
        # Print leading spaces, then '\' and then required inner spaces, then '/'
        print(' ' * (i - 1) + '\\' + ' ' * (2 * (n - i) - 1) + '/')
    else:
        # For the last row, print spaces + 'v'
        print(' ' * (n - 1) + 'v')

4
\     /
 \   /
  \ /
   v

In [ ]:
# Input: number of rows
n = int(input())

# Loop to print the V pattern
for i in range(1, n + 1):
    # For all rows except the last
    if i != n:
        # Print leading spaces, then '\' and then required inner spaces, then '/'
        print(' ' * (i - 1) + '\\' + ' ' * (2 * (n - i) - 1) + '/')
    else:
        # For the last row, print spaces + 'v'
        print(' ' * (n - 1) + 'v')

9
\               /
 \             /
  \           /
   \         /
    \       /
     \     /
      \   /
       \ /
        v

In [ ]:
# Input: number of rows
n = int(input())

# loop to print the V patteren
for i in range(1, 1 + n):
  #For all rows except the last
  if i != n:
    #print leading spaces, then '\' and then required inner spaces, then '/'
    print(' '*(i - 1) + '\\' + ' '* (2*(n - i) - 1) + '*')
  else:
    # For the last row, print space + 'V'
    print(' ' * (n - 1) + 'o')

5
\       *
 \     *
  \   *
   \ *
    o

In [ ]:
#Check Positive Odd or Negative Even

In [ ]:
def is_positive_odd_or_negative_even(n: int) -> bool:
    '''Check if the number is a positive odd or a negative even.

    Args:
        n : int - input integer

    Returns:
        bool - True if positive odd or negative even, else False
    '''
    if n > 0 and n % 2 == 0:
      return True
    elif n < 0 and n % 2 != 0:
      return True
    else:
      return False
    print(is_positive_odd_or_negative_even)

In [ ]:
#Check if the Given String is Within Quotes and Has Quotes Inside

In [ ]:
'''
s[0] == '"' and s[-1] == '"' → ensures the string starts and ends with double quotes.
'"' in s[1:-1] → checks if there is another double quote inside.
Return True only if both conditions hold.
'''

'\ns[0] == \'"\' and s[-1] == \'"\' → ensures the string starts and ends with double quotes.\n\'"\' in s[1:-1] → checks if there is another double quote inside.\nReturn True only if both conditions hold.\n'

In [ ]:
def within_and_has_double_quotes(s: str) -> bool:
    '''Check if the string is enclosed with double quotes and has double quotes inside.

    Args:
        s : str - input string

    Returns:
        bool - True if the string starts and ends with double quotes and has double quotes inside
    '''
    # Check if string starts and ends with double quotes
    if len(s) >= 2 and s[0] == '"' and s[-1] == '"':
        # Check if there is another double quote inside (excluding first and last)
        inner = s[1:-1]
        if '"' in inner:
            return True
    return False

In [ ]:
def within_and_has_double_quotes(s: str) -> bool:

# Checking if string starts and ends with double quotes
 if len(s) >= 2 and s[0] == '"' and s[-1] == '"':
    # Checking if there is another double quotes inside (excliding first and last)
  inner = s[1:-1]
  if '"' in inner:
      return True
return False

SyntaxError: 'return' outside function (ipython-input-3326792724.py, line 9)

In [ ]:
#Replace middle with n times middle

In [ ]:
def replace_middle_with_n_times_middle(t: tuple, n: int) -> tuple:
    '''
    Replace the middle element of a tuple with `n` copies of the middle element.

    Args:
        t (tuple): A tuple with an odd number of elements.
        n (int): The number of times the middle element should be repeated.

    Returns:
        tuple: A new tuple with the middle element replaced by `n` copies.
    '''

    mid_index = leg(t) // 2  # find the middle index
    middle_element = t[mid_index]   # Get a middle element
    return t[:mid_index] + (middle_element,) * n + t[mid_index + 1:]

In [ ]:
#Count Positive Integers Ignoring None

In [ ]:
def count_positive_ignore_none(nums: list) -> int:
    '''
    Count the number of positive integers in the list, ignoring `None` values and zeros.

    Args:
        nums (list): A list of numbers, possibly containing `None` values.

    Returns:
        int: The count of positive integers in the list.
    '''
    count  = 0
    for num in nums:
      if num is not None and num > 0:
        count += 1
        return count

In [ ]:
count_positive_ignore_none([1,None,7,5,6])

1

In [ ]:
def count_positive_ignore_none(nums: list) -> int:
    '''
    Count the number of positive integers in the list, ignoring `None` values and zeros.

    Args:
        nums (list): A list of numbers, possibly containing `None` values.

    Returns:
        int: The count of positive integers in the list.
    '''
    count = 0
    for num in nums:
        if num is not None and num > 0:
            count += 1
    return count

In [ ]:
count_positive_ignore_none([1,7,5,6,0])

4

In [ ]:
def count_positive_ignore_none(nums: list) ->int:

# count the num of postive interger in  lis igno/.. None and 0,
# num must me > 0
  count = 0
  for num in nums:
    if num is not None and num > 0:
      count += 1
      return count

In [ ]:
count_positive_ignore_none([1,4,None,0,-5])

1

In [ ]:
#Check is even or divisible by 5

In [ ]:

def is_even_or_divisible_by_5(num:int) -> bool:
    '''
    Given an integer, check if a number is either even or divisible by 5.

    Eg.
    is_even_or_divisible_by_5(8) -> True
    is_even_or_divisible_by_5(10) -> True
    is_even_or_divisible_by_5(15) -> True
    is_even_or_divisible_by_5(7) -> False

    Args:
        num (int) : An integer.

    Returns:
        bool: True if even or if divisible by 5 else False.
    '''
    if num  % 2 == 0 or num % 5 == 0:
      return True
    else:
        return False

In [ ]:
def is_even_or_divisible_by_5(num:int) -> bool:
    '''
    Given an integer, check if a number is either even or divisible by 5.

    Eg.
    is_even_or_divisible_by_5(8) -> True
    is_even_or_divisible_by_5(10) -> True
    is_even_or_divisible_by_5(15) -> True
    is_even_or_divisible_by_5(7) -> False

    Args:
        num (int) : An integer.

    Returns:
        bool: True if even or if divisible by 5 else False.
    '''
    if num % 2 == 0 or num % 5 == 0:
        return True
    else:
        return False

In [ ]:
#Deinterleave Even and Odd Indices in String
#Take all characters at even indices and odd indices from a string and separate them into two different strings.

In [ ]:
def deinterleave_string(s: str) -> tuple:
    even_chars = s[::2]  # Take characters at even indices
    odd_chars = s[1::2]  # Take characters at odd indices
    return even_chars, odd_chars

In [ ]:
# Example
s = "abcdef"
print(deinterleave_string(s))

('ace', 'bdf')

In [ ]:
def deinbterleave_string(s: str) -> tuple:
  even_chars = s[::2] # Take char.. at even indices
  odd_chars = s[1::2] # Take char... at odd indices

  return even_chars, odd_chars

In [ ]:
# Example
s = "123456"
print(deinterleave_string(s))

('135', '246')

In [ ]:
# Example
s = "159357"
print(deinterleave_string(s))

('195', '537')

In [ ]:

def deinterleave(s: str) -> str:
    """
    Deinterleave even and odd indices in a string.

    Args:
        s (str): The input string.

    Returns:
        str: The deinterleaved string.
    """
    even_chars = s[::2] # Take char.. at even indices
    odd_chars = s[1::2] # Take char... at odd indices

    return even_chars + odd_chars

In [ ]:
#Make dictionary from elements in index of lists

In [ ]:
def make_dict_from_elems_in_index(keys, values, index: int) -> dict:

key = keys[index]
value = values[index]

return {key, value}

IndentationError: expected an indented block after function definition on line 1 (ipython-input-1735977750.py, line 3)

In [ ]:
def make_dict_from_elems_in_index(keys, values, index: int) -> dict:
    '''
    Returns a dictionary with one key and value pair
    taken from the given index of keys and values list.

    Eg:
    >>> keys = ['apple', 'banana', 'cherry']
    >>> values = [10, 20, 30, 40]
    >>> make_dict_from_elems_in_index(keys, values, 1)
    {'banana': 20}
    >>> make_dict_from_elems_in_index(keys, values, -1)
    {'cherry': 40}

    Args:
        keys (list): The list with the keys.
        values (list): The list with the values.
        index (int): An integer

    Returns:
        dict: Dictionary with only one key-value pair, where the key and value are taken from the given index.
    '''
    # Extract key and value from the given index
    key = keys[index]
    value = values[index]

    # Return dictionary with one key-value pair
    return {key: value}

In [ ]:
#Counts unique even and odd numbers

In [ ]:
def count_unique_even_odd(l: list)-> dict:
    '''Returns a dict with the count of unique even and odd numbers in the list.

    Eg.
    >>>l = [1, 2, 2, 3, 4, 5, 5, 6]
    >>>count_unique_even_odd(l)
    {"even": 3, "odd": 3}

    Args:
        l(list)  : a list of integers.

    Returns:
        dict: a dict with the count of unique even and odd numbers in the list.
    '''

    count_even = n % 2 == 0
    return(count_even)

    count_odd = n % 2 != 0
    return(count_odd)

In [ ]:
another_list = [10, 20, 20, 30, 40, 50, 50, 60, 15, 25]
print(count_unique_even_odd(another_list))

In [ ]:
def count_unique_even_odd(l: list) -> dict:
    '''Returns a dict with the count of unique even and odd numbers in the list.

    Eg.
    >>> l = [1, 2, 2, 3, 4, 5, 5, 6]
    >>> count_unique_even_odd(l)
    {"even": 3, "odd": 3}

    Args:
        l(list)  : a list of integers.

    Returns:
        dict: a dict with the count of unique even and odd numbers in the list.
    '''
    # Use set() to get unique elements
    unique_numbers = set(l)

    # Initialize counters
    even_count = 0
    odd_count = 0

    # Count even and odd numbers
    for num in unique_numbers:
        if num % 2 == 0:
            even_count += 1
        else:
            odd_count += 1

    # Return dictionary with counts
    return {"even": even_count, "odd": odd_count}

In [ ]:
def count_unique_even_odd(l: list) -> dict:

  # Use set() to get unique elements
  unique_numbers = set(1)

  # Initialize counters
  even_count = 0
  odd_count = 0

  # Count even and odd numbers
  for num in unique_numbers:
    if num % 2 == 0:
      even_count += 1
    else:
      odd_count += 1

  # Return dictonary with counts
  return {"even": even_count, "odd": odd_count}

In [ ]:
#Vowel count of words

In [ ]:
# Take input from user
s = input()

# Define vowels
vowels = "aeiouAEIOU"

# Split the string by spaces to get words
words = s.split(" ")

# Prepare a new list with word and its vowel count
result = []
for word in words:
    count = sum(1 for ch in word if ch in vowels)
    result.append(f"{word}({count})")

# Join the words back with spaces and print
print(" ".join(result))

CSIR-IIT MADRAS
CSIR-IIT(3) MADRAS(2)

In [ ]:
# Take input fron user
s = input()

# Define vowels
vowels  = "aeiouAEIOU"

# Split the string by space to get words
words = s.split(" ")

# Prepare a new list with word and its vowel count
result = []
for word in words:
  count = sum(1 for ch in word if ch in vowels)
  result.append(f"{word}({count})")

  # Join the words back with spaces and print
  print (" ".join(result))

 I have a strong passion for Data Science, Machine Learning, and AI.
(0)
(0) I(1)
(0) I(1) have(2)
(0) I(1) have(2) a(1)
(0) I(1) have(2) a(1) strong(1)
(0) I(1) have(2) a(1) strong(1) passion(3)
(0) I(1) have(2) a(1) strong(1) passion(3) for(1)
(0) I(1) have(2) a(1) strong(1) passion(3) for(1) Data(2)
(0) I(1) have(2) a(1) strong(1) passion(3) for(1) Data(2) Science,(3)
(0) I(1) have(2) a(1) strong(1) passion(3) for(1) Data(2) Science,(3) Machine(3)
(0) I(1) have(2) a(1) strong(1) passion(3) for(1) Data(2) Science,(3) Machine(3) Learning,(3)
(0) I(1) have(2) a(1) strong(1) passion(3) for(1) Data(2) Science,(3) Machine(3) Learning,(3) and(1)
(0) I(1) have(2) a(1) strong(1) passion(3) for(1) Data(2) Science,(3) Machine(3) Learning,(3) and(1) AI.(2)

In [ ]:
#Student Score Filter

In [ ]:
def filter_students(data: dict, criteria: str) -> set:
    '''
    Takes a dictionary where keys are student names and values are lists of scores,
    filters names based on the given criteria:
     - "excellent" - average score >= 85.
     - "good" - average score >= 50 and < 85.
     - "all_pass" - all scores >= 50.
     - "balanced" - difference between min and max is <= 10.
    '''

    result = set()

    for name, scores in data.items():
        avg = sum(scores) / len(scores)

        if criteria == "excellent" and avg >= 85:
            result.add(name)
        elif criteria == "good" and 50 <= avg < 85:
            result.add(name)
        elif criteria == "all_pass" and all(s >= 50 for s in scores):
            result.add(name)
        elif criteria == "balanced" and (max(scores) - min(scores)) <= 10:
            result.add(name)

    return result

In [ ]:
print(filter_students)

<function filter_students at 0x7f66ab69cf40>

In [ ]:
def filter_students(data: dict, criteria: str) -> set:

  result  = set()

  for name, score in data.item():
    avg = sum(score) / len(scores)

    if criteria == "kya Baat Hai Bate" and avg >= 90:
      result.add(name)
    elif criteria == "Exm Sheet Padh Diya" and 75 <= avg < 90:
      result.add(name)
    elif criteria == "Abee Ye Exm Toh Sirf Timepass ke Liye Deta hu" and 50 <= avg < 75:
      result.add(name)
    elif criteria == "Bass jindigi Cut rahe hai" and all(s >= 50 for s in scores):
      result.add(name)
    elif criteria == "balanced" and (max(scores) - min(scores)) <= 10:
      result.add(name)

    return(filter_students)

In [ ]:
#Pattern Printing - W Pattern

In [ ]:
# take input
n = int(input())

# Print W shape
for i in range(1, n + 1):
  left_space = n - i
  middle_spaces = 2 * (i - 1)
  print("|" + " " * left_spaces + "/" + " " * middle_spaces + "\\" + " " * left_spaces + "|")

8
|/\|
|/  \|
|/    \|
|/      \|
|/        \|
|/          \|
|/            \|
|/              \|

In [ ]:
# take input
n = int(input())

# print W pattern
for i in range(1, n + 1):
    left_spaces = n - i
    middle_spaces = 2 * (i - 1)
    print("|" + " " * left_spaces + "/" + " " * middle_spaces + "\\" + " " * left_spaces + "|")

10
|         /\         |
|        /  \        |
|       /    \       |
|      /      \      |
|     /        \     |
|    /          \    |
|   /            \   |
|  /              \  |
| /                \ |
|/                  \|

In [ ]:
#Check If a number divides two other numbers

In [ ]:
def is_both_divisible_by(a: int, b: int, c: int) -> bool:
    """
    Checks if the integer `c` divides both integers `a` and `b`.

    Args:
        a (int): The first integer.
        b (int): The second integer.
        c (int): The divisor (assumed to be non-zero).

    Returns:
        bool: True if `c` divides both `a` and `b`, False otherwise.
    """
    return a % c == 0 and b % c == 0

In [ ]:
#Write a function that checks if one string is a rotation of another.

In [ ]:
def is_rotation(str1: str, str2: str) -> bool:
    """
    Checks if one string is a rotation of another.

    Example:
      >>>is_rotation('abcde','cdeab')
      True
      >>>is_rotation('hello','ehllo')
      False
      >>>is_rotation('hello','helol')
      False

    Args:
        str1 (str): The original string.
        str2 (str): The string to check if it's a rotation of str1.

    Returns:
        bool: True if str2 is a rotation of str1, False otherwise.
    """
    # Both strings must be of same length and non-empty
    if len(str1) != len(str2):
        return False

    # A string is a rotation of another if it's a substring of str1 + str1
    return str2 in (str1 + str1)

In [ ]:
def is_rotation(str1: str, str2: str)  -> bool:

  # both strings must be of same length and non-empty
  if len(str1) != len(str2):
    return False

  # A string is a rotation of another if it's a substring of str1 + str2
  return str2 in (str1 + str2)

In [ ]:
print(is_rotation('abcde', 'cdeab'))

True

In [ ]:
print(is_rotation('hello', 'helol'))

True

In [ ]:
#ind missing number in a range of numbers

In [ ]:
def find_missing_number(nums: list, n: int) -> int:
    """Finds the missing number in a list of integers ranging from 1 to n.

    Args:
        nums (list): A list of integers from 1 to n with one number missing.
        n (int): The number n describing the range.
    Returns:
        int: The missing number in the list.
    """
    expected_sum = n * (n + 1) // 2   # Sum of 1 to n
    actual_sum = sum(set(nums))        # Sum of unique numbers in the list
    return expected_sum - actual_sum

In [ ]:
nums = [1, 4, 2, 4, 6, 5, 6]
n = 6
print(find_missing_number(nums, n))

3

In [ ]:
def find_missing_number(nums: list, n: int)  -> int:

  expected_sum = n * (n + 1) // 2
  actual_sum = sum(set(nums))
  return expected_sum - actual_sum

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
n = 6
print(find_missing_number(nums, n))

0

In [ ]:
#Merge two dictionaries and sum on conflicts

In [ ]:
def merge_dictionaries(d1: dict, d2: dict):
    """
    Merges two dictionaries by summing values of common keys.

    If a key exists in both `d1` and `d2`, their values are summed.
    Keys that are unique to one dictionary are included as-is in the result.

    Args:
        d1 (dict): The first dictionary, where values are integers or floats.
        d2 (dict): The second dictionary, where values are integers or floats.

    Returns:
        dict: A new dictionary containing all keys from both `d1` and `d2`.
              Values for overlapping keys are summed, while unique keys retain their original values.
    """
    merged = d1.copy()  # start with d1
    for key, value in d2.items():
        merged[key] = merged.get(key, 0) + value  # sum if exists, else add new
    return merged

In [ ]:
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}

print(merge(d1, d2))

NameError: name 'merge' is not defined

In [ ]:
def merge_dictionaries(d1: dict, d2: dict):

  merge = d1.copy() #start with d1
  for key, value in d2.item():
    merge[key] = merged.get(key, 0) + value # sum if exist, else add new
  return merged

In [ ]:
#Most Frequent Numbers form the input

In [ ]:
# Read the number of inputs
n = int(input())

# Read n numbers into a list
nums = [int(input()) for _ in range(n)]

# Create a frequency dictionary
freq = {}
for num in nums:
    freq[num] = freq.get(num, 0) + 1

# Find the maximum frequency
max_freq = max(freq.values())

# Collect all numbers with maximum frequency
most_frequent = [num for num, count in freq.items() if count == max_freq]

# Sort them in ascending order
most_frequent.sort()

# Print the result list
print(most_frequent)

4
2
2
5
2
[2]

In [ ]:
n = int(input()) # Read the number of inputs
nums = [int(input()) for _ in range(n)] #Read n numbers  into a lsit
freq = {}
for num in nums:
  freq[num] = freq.get(num, 0) + 1 # create a frequency dict...
# Find the maximum frequency
max_freq = max(freq.values())

# Collect all numbers woith maximum frequency
most_frequent  = [num for num, count in freq.item() if count == max_freq]

# sort them in ascending order
most_frequency.sort()

# print the result list
print(most_frequent)

4
5
4
5
5

AttributeError: 'dict' object has no attribute 'item'

**Employee Data Analysis**

In [ ]:
def employees_with_salary_above(employees: list, min_salary: int):
    """Returns the employees' names with salary greater than or equal to the given salary."""
    return [emp['name'] for emp in employees if emp['salary'] >= min_salary]


def total_salary_in_department(employees: list, department: str):
    """Returns the total salary of all the employees in the given department."""
    return sum(emp['salary'] for emp in employees if emp['department'] == department)


def ceil_to_five_hundreds(num: int):
    """Ceil the given number to the next multiple of 500."""
    if num % 500 == 0:
        return num
    return ((num // 500) + 1) * 500


def max_salary_after_increment_in_department(employees: list, department: str, inc_percent: int):
    """Returns the maximum salary in the given department after increment and ceiling."""
    # Filter salaries for given department
    dept_salaries = [emp['salary'] for emp in employees if emp['department'] == department]

    if not dept_salaries:
        return 0  # No employees in the department

    max_salary = max(dept_salaries)

    # Apply increment
    incremented = round(max_salary * (1 + inc_percent / 100))

    # Ceil to nearest 500
    return ceil_to_five_hundreds(incremented)

In [ ]:
def employees_with_salary_above(employess: list, min_salary: int):
  """Return the employees' names with salary geater than or equal to the given salary"""
  return [emp['name'] for emp in employees if emp['salary'] >= min_salary]

def total_salary_in_department(employees: list, department: str):
  """Return the total salary of all the employees in the given department."""
  return sum(emp['salary'] for emp in employees if emp['department'] == department)

def ceil_to_five_hundreds(num: int):
  """ Ceil the given number to the next multiple of 500."""
  if num % 500 == 0:
    return num
  return ((num // 500) + 1) * 500

def max_salary_after_increment_in_department(employees: list, department: str, inc_percent: int):
  """Return the maximum salary in the given department after increment and ceiling."""
  # Filter salaries for given department
  dept_salaries = [emp['salary'] for emp in employees if emp[department] == department]

  if not dept_salaries:
    return 0 # No employees in the department

    max_salary = max(dept_salaries)

    # Apply increment
    incremented = round(max_salary * (1 + inc_percent / 100))

    # ceil tonearest 500
    return ceil_to_five_hundreds(incremented)

In [ ]:
employees = [
    {"name": "Alice", "salary": 48000, "department": "HR"},
    {"name": "Bob", "salary": 52000, "department": "HR"},
    {"name": "Charlie", "salary": 61000, "department": "IT"},
    {"name": "David", "salary": 59500, "department": "IT"},
    {"name": "Eva", "salary": 47000, "department": "Finance"}
]

print(employees_with_salary_above(employees, 50000))
# ['Bob', 'Charlie', 'David']

print(total_salary_in_department(employees, "IT"))
# 120500

print(ceil_to_five_hundreds(24400))
# 24500

print(max_salary_after_increment_in_department(employees, "IT", 10))
# 67500

['Bob', 'Charlie', 'David']
120500
24500

KeyError: 'IT'

In [ ]:
employees = [
    {"name": "Alice", "salary": 48000, "department": "HR"},
    {"name": "Bob", "salary": 52000, "department": "HR"},
    {"name": "Charlie", "salary": 61000, "department": "IT"},
    {"name": "David", "salary": 59500, "department": "IT"},
    {"name": "Eva", "salary": 47000, "department": "Finance"}
]

print(employees_with_salary_above(employees, 50000))
# ['Bob', 'Charlie', 'David']

print(total_salary_in_department(employees, "IT"))
# 120500

print(ceil_to_five_hundreds(24400))
# 24500

# print(max_salary_after_increment_in_department(employees, "IT", 10))
# 67500

['Bob', 'Charlie', 'David']
120500
24500

In [ ]:
# Pattern Printing - Z Pattern

In [ ]:
n = int(input())  # take size of pattern

for i in range(n):          # loop through each row
    for j in range(n):      # loop through each column
        if i == 0 or i == n - 1 or j == n - i - 1:
            print("*", end="")  # print * for top, bottom, and diagonal
        else:
            print(" ", end="")  # print space elsewhere
    print()  # move to the next line

8
********
      *
     *
    *
   *
  *
 *
********

In [ ]:
n = int(input())  # take size of pattern

for i in range(n):          # loop through each row
    for j in range(n):      # loop through each column
        if j == 0 or j == n - 1 or i == n - i - 1:
            print("/", end="")  # print * for top, bottom, and diagonal
        else:
            print(" ", end="")  # print space elsewhere
    print()  # move to the next line

10
/        /
/        /
/        /
/        /
/        /
/        /
/        /
/        /
/        /
/        /

In [ ]:
#Divide Number Into Almost Equal Parts

In [ ]:
def divide_into_almost_equal_parts(n: int, k: int) -> list:
    # Base value (equal division)
    base = n // k
    # Remainder (extra ones to distribute)
    remainder = n % k

    # Start with base values
    parts = [base] * k

    # Distribute the remainder — one extra to the first 'remainder' elements
    for i in range(remainder):
        parts[i] += 1

    return parts

In [ ]:
divide_into_almost_equal_parts(16, 3)

[6, 5, 5]

In [ ]:
divide_into_almost_equal_parts(111, 10)

[12, 11, 11, 11, 11, 11, 11, 11, 11, 11]

In [ ]:
#Update Todo List Based on Given Indices

In [ ]:
# Read number of todo items
n = int(input())

# Read the indices that should be marked as completed
completed_indices = set(map(int, input().split()))

# Process each todo item
for i in range(n):
    item = input()
    if i in completed_indices:
        # Replace "[ ]" with "[x]" for completed tasks
        print(item.replace("[ ]", "[x]", 1))
    else:
        print(item)

1
02
kook
kook

In [ ]:
# Read number of todo items
n = int(input())

# Read the indices that should br marked as complete
completed_indices  = set(map(int, input().split()))

# Process each todo item
for i in range(n):
  item = input()
  if i in completed_indices:
    # Repalce "[ ]" with "[x]" for complete tasks
    print(item.replace("[ ]", "[x]", 1))
  else:
    print(item)

3
2
book
book
copy
copy
pen
pen

In [ ]:
# Batsman Performance Analysis

In [ ]:
def overall_run_stats(batsman_data: dict) -> dict:
    """Returns a dict with overall run statistics with keys 'min', 'max', 'total' and 'average'."""
    all_runs = [run for runs in batsman_data.values() for run in runs]
    return {
        "min": min(all_runs),
        "max": max(all_runs),
        "total": sum(all_runs),
        "average": round(sum(all_runs) / len(all_runs))
    }


def century_rate(runs: list) -> int:
    """Returns the century rate from the given runs."""
    if not runs:
        return 0
    centuries = sum(1 for r in runs if r >= 100)
    return round((centuries / len(runs)) * 100)


def average_yearly_century_rate(batsman_data: dict) -> int:
    """Average yearly century rate over all years."""
    rates = [century_rate(runs) for runs in batsman_data.values()]
    return round(sum(rates) / len(rates))


def years_with_more_than_average_yearly_century_rate(batsman_data: dict) -> set:
    """Returns a set of years with century rate more than the average yearly century rate."""
    avg_rate = average_yearly_century_rate(batsman_data)
    return {year for year, runs in batsman_data.items() if century_rate(runs) > avg_rate}


def year_with_most_average_runs(batsman_data: dict) -> int:
    """Returns the year with the most average runs."""
    year_avg = {year: sum(runs) / len(runs) for year, runs in batsman_data.items()}
    max_avg = max(year_avg.values())
    # Return earliest year in case of tie
    return min(year for year, avg in year_avg.items() if avg == max_avg)

In [ ]:
data = {
    2016: [88, 66, 130, 122, 117, 95, 86],
    2017: [149, 66, 110],
    2018: [157, 84],
    2019: [148, 127, 71, 117],
    2020: [91, 156, 80, 135, 152, 109]
}

print(overall_run_stats(data))
# {'min': 66, 'max': 157, 'total': 2456, 'average': 112}

print(century_rate(data[2016]))
# 43

print(average_yearly_century_rate(data))
# 60

print(years_with_more_than_average_yearly_century_rate(data))
# {2017, 2019, 2020}

print(year_with_most_average_runs(data))
# 2018

{'min': 66, 'max': 157, 'total': 2456, 'average': 112}
43
60
{2017, 2019, 2020}
2018

In [ ]:
def overall_run_stats(batsman_data: dict) -> dict:
    """Returns a dict with overall run statistics with keys 'min', 'max', 'total' and 'average'."""
    all_runs = [run for runs in batsman_data.values() for run in runs]
    return {
        "min": min(all_runs),
        "max": max(all_runs),
        "total": sum(all_runs),
        "average": round(sum(all_runs) / len(all_runs))
    }


def century_rate(runs: list) -> int:
    """Returns the century rate from the given runs."""
    if not runs:
        return 0
    centuries = sum(1 for r in runs if r >= 100)
    return round((centuries / len(runs)) * 100)


def average_yearly_century_rate(batsman_data: dict) -> int:
    """Average yearly century rate over all years."""
    rates = [century_rate(runs) for runs in batsman_data.values()]
    return round(sum(rates) / len(rates))


def years_with_more_than_average_yearly_century_rate(batsman_data: dict) -> set:
    """Returns a set of years with century rate more than the average yearly century rate."""
    avg_rate = average_yearly_century_rate(batsman_data)
    return {year for year, runs in batsman_data.items() if century_rate(runs) > avg_rate}


def year_with_most_average_runs(batsman_data: dict) -> int:
    """Returns the year with the most average runs."""
    year_avg = {year: sum(runs) / len(runs) for year, runs in batsman_data.items()}
    max_avg = max(year_avg.values())
    # Return earliest year in case of tie
    return min(year for year, avg in year_avg.items() if avg == max_avg)

In [ ]:
data = {
    2016: [56, 45, 55, 45, 75],
    2017: [149, 66, 110, 25, 78],
    2018: [157, 84, 69, 35, 45],
    2019: [148, 127, 10, 117, 75],
    2020: [91, 156, 80, 135, 152, 109]
}

In [ ]:
print(century_rate(data))

100

In [ ]:
print(century_rate(data[2017]))

40

In [ ]:
print(overall_run_stats(data))

{'min': 10, 'max': 157, 'total': 2294, 'average': 88}

In [ ]:
print(years_with_more_than_average_yearly_century_rate(data))

{2017, 2019, 2020}

In [ ]:
print(year_with_most_average_runs(data))

2020

In [ ]:
#Horizontal Bar Chart

In [ ]:
# Read number of key-value pairs
n = int(input())

# Read the pairs and store them in a dictionary
data = {}
for _ in range(n):
    key, value = input().split(":")
    data[key] = int(value)

# Find the length of the longest key
max_key_length = max(len(k) for k in data.keys())

# Print the formatted bar chart
for key, value in data.items():
    print(f"{key.rjust(max_key_length)}:{'#' * value}")

5
4

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
#Check Even Number and Second Last Digit is Two

In [ ]:
def is_even_and_second_last_digit_is_two(num: int) -> bool:
    '''
    Returns True if:
      1. The number is even, AND
      2. The second last digit is 2.
    Otherwise, returns False.

    Examples:
    >>> is_even_and_second_last_digit_is_two(232)
    False
    >>> is_even_and_second_last_digit_is_two(120)
    True
    >>> is_even_and_second_last_digit_is_two(25)
    False
    >>> is_even_and_second_last_digit_is_two(13)
    False
    '''

    # Check even number
    if num % 2 != 0:
        return False

    # Convert to string to access digits
    num_str = str(abs(num))   # abs() handles negative numbers safely

    # Check if it has at least two digits
    if len(num_str) < 2:
        return False

    # Check if second last digit is '2'
    return num_str[-2] == '2'

SyntaxError: 'return' outside function (ipython-input-1243604133.py, line 13)

In [ ]:
# Check if a Number is Divisible by Exactly One of the Given Numbers

In [ ]:
def div_by_exactly_one(num: int, a: int, b: int) -> bool:
    '''Check if num is divisible by exactly one of a or b.

    Args:
        num, a, b : int - input numbers

    Returns:
        bool - True if num is divisible by exactly one of a or b, otherwise False.
    '''
    # Check divisibility
    div_a = (num % a == 0)
    div_b = (num % b == 0)

    # Return True if exactly one is True (exclusive OR)
    return (div_a and not div_b) or (div_b and not div_a)

In [ ]:
print(div_by_exactly_one(20, 5, 6))

True

In [ ]:
print(div_by_exactly_one(20, 6, 7))

False

In [ ]:
def div_by_exactly_one(num: int, a: int, b: int) -> bool:

  # Check divisibility
  div_a = (num % a == 0)
  div_b = (num % b == 0)

  # Return True If exactly one is True
  return (div_a and not div_b) or (div_b and not div_a)

In [ ]:
print(div_by_exactly_one(10, 5, 6))

True

In [ ]:
# Convert date from mm-dd-yy to yy-dd-mm

In [ ]:
def mm_dd_yy_to_yy_dd_mm(date: str) -> str:
    parts = date.split('-')
    return f"{parts[2]}-{parts[1]}-{parts[0]}"

In [ ]:
def mm_dd_yy_to_yy_dd_mm(date: str) -> str:
  parts = date.split('-')
  return f"{parts[2]}-{parts[1]}-{parts[0]}"

In [ ]:
mm_dd_yy_to_yy_dd_mm("12-25-21")

'21-25-12'

In [ ]:
mm_dd_yy_to_yy_dd_mm("10-25-20")

'20-25-10'

In [ ]:
# Max Column sum and Max column sum index

In [ ]:
# Input number of rows (m) and columns (n)
m, n = map(int, input().split())

# Input matrix elements
matrix = [list(map(int, input().split())) for _ in range(m)]

# Initialize column sums
col_sums = [0] * n

# Calculate sum of each column
for row in matrix:
    for j in range(n):
        col_sums[j] += row[j]

# Find maximum column sum and its index
max_sum = max(col_sums)
max_index = col_sums.index(max_sum)

# Output
print(max_index)
print(max_sum)

5

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
# Check if a Triangle is Obtuse

In [ ]:
def is_obtuse(theta_1: int, theta_2: int) -> bool:
    '''
    Check if a triangle is obtuse given two angles.
    '''
    theta_3 = 180 - (theta_1 + theta_2)
    return theta_1 > 90 or theta_2 > 90 or theta_3 > 90

In [ ]:
print(is_obtuse(30, 60))

False

In [ ]:
def is_obtuse(theta_1: int, theta_2: int) -> bool:

  theta_3 = 180 - (theta_1 + theta_2)
  return theta_1 > 90 or theta_2 >90 or theta_3 > 90

In [ ]:
print(is_obtuse(120, 60))

True

In [ ]:
# Increment Value of Key in Dict with Max Limit

In [ ]:
def increment_value_with_max_limit(d: dict, key: str, inc: int, limit: int):
    '''
    Increment the value for the given key in the dictionary by `inc`,
    but not beyond `limit`.

    Modify the value in the dictionary (no return).

    Args:
        d : dict - dictionary with integer values
        key : str - key to increment in the dictionary
        inc : int - increment value
        limit : int - maximum limit for the value
    '''
    # Step 1: Get current value
    current_value = d.get(key, 0)

    # Step 2: Increment it
    new_value = current_value + inc

    # Step 3: Apply max limit (capping)
    if new_value > limit:
        new_value = limit

    # Step 4: Update the dictionary
    d[key] = new_value

In [ ]:
d = {"x": 5, "y": 3, "z": 5}

increment_value_with_max_limit(d, "y", 5, 5)
print(d)

{'x': 5, 'y': 5, 'z': 5}

In [ ]:
def increment_value_with_max_limit(d:dict, key: str, inc: int, limit: int):

  current_value = d.get(key, 0)
  new_value =  current_value + inc
  if new_value > limit:
    new_value = limit
  d[key] = new_value

In [ ]:
d = {"x": 11, "y": 3, "z": 5}

increment_value_with_max_limit(d, "y", 5, 11)

In [ ]:
# Markdown Image to HTML Image

In [ ]:
def markdown_to_html_image(markdown_image: str) -> str:
    '''
    Converts a Markdown image link to an HTML image tag.
    Example: "![alt](url)" → '<img src="url" alt="alt">'
    '''
    # Step 1: Find positions of brackets and parentheses
    start_alt = markdown_image.find('[') + 1
    end_alt = markdown_image.find(']')
    start_src = markdown_image.find('(') + 1
    end_src = markdown_image.find(')')

    # Step 2: Extract alt text and image URL
    alt_text = markdown_image[start_alt:end_alt]
    image_url = markdown_image[start_src:end_src]

    # Step 3: Format to HTML image tag
    return f'<img src="{image_url}" alt="{alt_text}">'

In [ ]:
print(markdown_to_html_image("![awesome dog](dog.jpg)"))

<img src="dog.jpg" alt="awesome dog">

In [ ]:
def markdown_to_html_image(markdown_image: str) -> str:
  # step 1: find position of brackets and paraentheses
  start_alt  =  markdown_image.find('[') + 1
  end_alt  =  markdown_image.find(']')
  strat_src  = markdown_image.find('(') + 1
  end_src  = markdown_image.find(')')

  # step 2: Extract alt text and image URL
  alt_text =  markdown_image[start_alt:end_alt]
  image_url = markdown_image[start_src:end_src]

  # step 3: format to HTLM image tag
  return f'<img src="{image_url}" alt="{alt_text}">'

In [ ]:
print(markdown_to_html_image("![Rocket-chat](Rocket-chat.jpg)"))

NameError: name 'start_src' is not defined

In [ ]:
# First Non-Repeating Character in a String

In [ ]:
def first_non_repeating_char(s: str) -> str:
    """Finds the first non-repeating character in a string."""
    for char in s:
        if s.count(char) == 1:   # count occurrences of each char
            return char          # return first non-repeating
    return None                  # if all are repeating

In [ ]:
print(first_non_repeating_char("aabbcc"))

None

In [ ]:
def first_non_repeating_char(s: str) -> str:
  for char in s:
    if s.count(char) == 1:
      return char
  return None

In [ ]:
print(first_non_repeating_char("abc"))

a

In [ ]:
print(first_non_repeating_char("bc"))

b

In [ ]:
# Card to Value Tuple

In [ ]:
suit_values = {'S': 1, 'H': 2, 'D': 3, 'C': 4}
rank_values = {'A': 1, 'J': 11, 'Q': 12, 'K': 13}

def card_to_value_tuple(card: str) -> tuple:
    # Separate rank and suit
    suit = card[-1]
    rank = card[:-1]

    # Get suit value
    suit_value = suit_values[suit]

    # Get rank value
    if rank in rank_values:
        rank_value = rank_values[rank]
    else:
        rank_value = int(rank)

    # Return tuple
    return (suit_value, rank_value)

In [ ]:
card_to_value_tuple('7H')

(2, 7)

In [ ]:
card_to_value_tuple('7D')

(3, 7)

In [ ]:
card_to_value_tuple('11S')

(1, 11)

In [ ]:
suit_values = {'L': 1, 'H': 2, 'D': 3, 'C': 4}
rank_values = {'N': 1, 'M': 11, 'Q': 12, 'O': 13}

def card_to_value_tuple(card: str) -> tuple:
  # Seperate rank and suit
  suit = card[-1]
  rank = card[:-1]

  # Get suit value
  suit_value = suit_values[suit]

  # Get rank value
  if rank in rank_values:
    rank_value = rank_values[rank]
  else:
    rank_value = int(rank)

    # Return tuple
    return (suit_value, rank_value)

In [ ]:
card_to_value_tuple('7H')

(2, 7)

In [ ]:
# Rotate Even Indices

In [ ]:
def rotate_even(l: list, k: int) -> list:
    '''
    Returns a list with the elements at the even indices rotated by k positions.

    Examples:
    >>> rotate_even([1,2,3,4,5,6],1)
    [5,2,1,4,3,6]
    >>> rotate_even([1,2,3,4,5,6,7,8],3)
    [3,2,5,4,7,6,1,8]
    '''

    # Extract even-index elements
    even_elements = l[::2]

    # Handle k greater than length
    k = k % len(even_elements)

    # Rotate right by k
    rotated = even_elements[-k:] + even_elements[:-k]

    # Replace even indices
    l[::2] = rotated

    return l

In [ ]:
def rotate(l: list, k: int) -> list:

  # Extract even-index elements
  even_elements = l[::2]

  # Handle k greater than length
  k = k % len(even_elements)

  # Rotate k right by k
  rotated =  even_elements[-k:] + even_elements[:-k]

  # Replace even indics
  l[::2] =  rotated

  return l

In [ ]:
# Replace Consonants with Hash

In [ ]:
# Take number of lines as input
n = int(input())

# Define vowels (both uppercase and lowercase)
vowels = "aeiouAEIOU"

# Process each line
for _ in range(n):
    line = input()
    result = ""
    for ch in line:
        if ch.isalpha():  # if it's a letter
            if ch in vowels:
                result += ch  # keep vowel as is
            else:
                result += "#"  # replace consonant with '#'
        else:
            result += ch  # keep spaces and punctuation same
    print(result)

got

ValueError: invalid literal for int() with base 10: 'got'

In [ ]:
# Input number of lines
n = int(input())

vowels = "aeiouAEIOU"

for _ in range(n):
    line = input()
    # Replace consonants with '#', keep vowels and others unchanged
    converted = ''.join(ch if (not ch.isalpha() or ch in vowels) else '#' for ch in line)
    print(converted)

NameError: name 'hello' is not defined

In [ ]:
# Input number oflines
n = int(input())

vowels =  "aeiouAEIOU"

for _ in range(n):
  line = input()
  # Replace consonants with '#', Keep vowels and others unchanged
  converted = ''.join(ch if (not ch.isalpha() or ch in vowels) else '#' for ch in line)
  print(converted)

KeyboardInterrupt: Interrupted by user

In [ ]:
def rotate(l: list, k: int) -> list:

  # Extract even-index elements
  even_elements = l[::2]

  # Handle k greater than length
  k = k % len(even_elements)

  # Rotate k right by k
  rotated =  even_elements[-k:] + even_elements[:-k]

  # Replace even indics
  l[::2] =  rotated

  return l

In [ ]:
# Draw Arrow Trail from Movement Deltas

In [ ]:
# Input: space-separated movement deltas
deltas = list(map(int, input().split()))

pos = 0  # start position

for d in deltas:
    if d > 0:
        # right arrow
        print(' ' * pos + '=' * d + '>')
    elif d < 0:
        # left arrow (move abs(d) steps back)
        print(' ' * (pos + d) + '<' + '=' * abs(d))
    else:
        # zero
        print(' ' * pos + '=')

    # update position
    pos += d

1 4 5 3 9
=>
 ====>
     =====>
          ===>
             =========>

In [ ]:
# Input: Arrow Trail from Movement Deltas

In [ ]:
# Input: space-seperated movement deltas
deltas =  list(map(int, input().split()))

pos = 0 # start position

for d in deltas:
  if d > 0:
    # right arrow
    print(' '*pos + '=' * d + 'O')
  elif d < 0:
    # left arrow (move abs(d) steps back)
    print(' ' * (pos + d) + '<' + '=' * abs(d))
  else:
    #zero
    print(' ' * pos + '=')

  # update position
  pos += d

1 2 3 4 5 6 7 8 9 10
=O
 ==O
   ===O
      ====O
          =====O
               ======O
                     =======O
                            ========O
                                    =========O
                                             ==========O

In [ ]:
# Input: space-seperated movement deltas
deltas =  list(map(int, input().split()))

pos = 0 # start position

for d in deltas:
  if d > 0:
    # right arrow
    print(' '*pos + '=' * d + 'o!o')
  elif d < 0:
    # left arrow (move abs(d) steps back)
    print(' ' * (pos + d) + '<' + '=' * abs(d))
  else:
    #zero
    print(' ' * pos + '=')

  # update position
  pos += d

1 5 9
=o!o
 =====o!o
      =========o!o

In [ ]:
# Double First and Last Elements in a List

In [ ]:
def double_ends(l: list) -> list:
    '''
    Given a list with at least two elements, return a new list where:
    - the first element is duplicated at the beginning
    - the last element is duplicated at the end
    '''
    # Create a new list without modifying the original
    return [l[0]] + l + [l[-1]]

In [ ]:
double_ends([10, 20, 30])

[10, 10, 20, 30, 30]

In [ ]:
def double_ends(l: list) -> list:

  # create a new list without modifying the original
  return [l[0]] + l + [l[-1]]

In [ ]:
double_ends([50,6090])

[50, 50, 6090, 6090]

In [ ]:
# Extract Email Username

In [ ]:
def extract_email_username(email: str) -> str:
    '''
    Given an email address string of the form "username@domain.com",
    return just the username part (everything before the @ symbol).
    '''
    return email.split('@')[0]

In [ ]:
# IIT Madras
extract_email_username("bhupendra.sahu@iitm.ac.in")

'bhupendra.sahu'

In [ ]:
# NIT Kurukshetra
extract_email_username("bhupendra.sahu@nitkk.ac.in")

'bhupendra.sahu'

In [ ]:
# IIT Ropar
extract_email_username("bhupendra.sahu@iitrpr.ac.in")

'bhupendra.sahu'

In [ ]:
# Check if 2D Vectors are Orthogonal

In [ ]:
def are_orthogonal(t1: tuple, t2: tuple) -> bool:
    '''
    Check if two 2D vectors are orthogonal (perpendicular).
    '''
    # Calculate dot product
    dot_product = t1[0] * t2[0] + t1[1] * t2[1]

    # Vectors are orthogonal if dot product == 0
    return dot_product == 0

In [ ]:
are_orthogonal((1, 2), (12, -6))

True

In [ ]:
are_orthogonal((2, 0), (4, 1))

False

In [ ]:
def are_orthogonal(t1: tuple, t2: tuple) -> bool:


# Calculate dot product
dot_product = t1[0] * t2[0] + t1[1] * t2[1]

# Vector are orthogonal if dot product == 0
return dot_product == 0

IndentationError: expected an indented block after function definition on line 1 (ipython-input-2211176555.py, line 5)

In [ ]:
# Get Next Roll Number

In [ ]:
def next_roll_no(roll_no: str) -> str:
    """
    Generates the next roll number in sequence within the same term and year.
    """
    # Extract the year (first 2 characters)
    year = roll_no[:2]
    # Extract the term (4th character)
    term = roll_no[3]
    # Extract the numeric part (last 6 characters)
    num = int(roll_no[4:])

    # Increment the number part
    next_num = num + 1

    # Format the number to always have 6 digits
    next_num_str = f"{next_num:06d}"

    # Combine all parts back
    return f"{year}f{term}{next_num_str}"

In [ ]:
next_roll_no("24f3099999")

'24f3100000'

In [ ]:
def next_roll_no(roll_no: str) -> str:

# Extract the year (first 2 character)
  year =  roll_no[:2]

# Extract the team (4th char)
team =  roll_no[3]

# Extract the numberic part (last 6 char)
num = int(roll_no[4:])

# Increment the number part
next_num = num + 1

# Format the number to always have h6 digit
next_num_str  = f"{next_num:06d}"

# Combine all parts back
return f"{year}f{team}{next_num_str}"

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [ ]:
next_roll_no("24f30999990")

'24f3999991'

In [ ]:
#Compare Last Digits

In [ ]:
def compare_last_digits(num1:int, num2:int) -> str:
    '''
    Given two integers, check whether their last digits are the same.

    Args:
        num1 (int): First number
        num2 (int): Second number

    Returns:
        str: "same" if last digits match else "different"
    '''

    if str(num1)[-1] == str(num2)[-1]:
        return "same"
    else:
        return "different"

In [ ]:
# Move Even Indices to End (Reversed)

In [ ]:

def move_even_indices_to_end_reversed(t):
    '''
    Given a tuple `t`, move all elements at even indices to the end
    in reversed order, while keeping odd-indexed elements as they are.

    Example:
    >>> t = (10, 20, 30, 40, 50)
    >>> move_even_indices_to_end_reversed(t)
    (20, 40, 50, 30, 10)

    Args:
        t (tuple): The input tuple.

    Returns:
        tuple: A new tuple with odd-indexed elements followed by reversed even-indexed elements.
    '''

    return t[1::2] + t[0::2][::-1]

In [ ]:
# Remove Duplicate Characters from String

In [ ]:
def remove_duplicates(s: str) -> str:
    """Removes duplicate characters, keeping the first occurrence."""

    result = []
    for char in s:
        if char not in result:
            result.append(char)

    return "".join(result)

In [ ]:
def remove_duplicate(s: str) -> str:

  result = []
  for char in s:
    if char not in result:
      result.append(char)
  return"".join(result)

In [ ]:
# Print Average of Every Two Non-Empty Values Until Stop

In [ ]:
num_list = []
while True:
    l = input().strip()
    if l == "stop":
        break
    if l =="":
        continue
    num_list.append(int(l)) #[1,2,3,4,5]
for i in range(0, len(num_list),2): #[1,3,5]
    if i+1 < len(num_list):
       avg = round((num_list[i] + num_list[i+1])/2,2)
       print(avg)
    else:
        print(num_list[i])

1

KeyboardInterrupt: Interrupted by user

In [ ]:
# People Connection Analysis

In [ ]:

def total_people(connections: list) -> int:
    """Return the total number of distinct people."""
    unique_people = set()
    for p1,p2 in connections:
        unique_people.add(p1)
        unique_people.add(p2)
    return len(unique_people)






def n_unique_connections(connections: list) -> int:
    """Return the number of unique undirected connections."""
    unique = set()
    for p1,p2 in connections:
        unique.add(tuple(sorted((p1,p2))))
    return len(unique)





def connection_dict(connections: list) -> dict:
    """Returns a dictionary with people as key and set of connected people."""
    d = {}
    for p1,p2 in connections:
        if p1 not in d:
            d[p1] = set()
        if p2 not in d:
            d[p2] =  set()
        d[p1].add(p2)
        d[p2].add(p1)

    return d  # Indetation Error



def people_with_at_least_n_connections(connections: list, n:int) -> set:
    """Return a set of people having at least two distinct connections."""
    d =  connection_dict(connections)
    result = set()
    for k, v in d.items():
        if len(v) >= n:
            result.add(k)
    return result

In [ ]:
# Create Slug from String

In [ ]:
def create_slug(text: str) -> str:
    '''
    Converts a given string into a URL-friendly slug.

    Examples:
    >>> create_slug("Hello World!")
    'hello-world'
    >>> create_slug("Python Programming 101")
    'python-programming-101'
    >>> create_slug("Data Science & AI")
    'data-science-ai'

    Args:
        text (str): The input string

    Returns:
        str: A slugified version of the string
    '''
    import re
    # Convert to lowercase
    text = text.lower()
    # Remove non-alphanumeric characters (except spaces)
    text = re.sub(r'[^a-z0-9\s-]', '', text)
    # Replace multiple spaces or hyphens with a single hyphen
    text = re.sub(r'[\s-]+', '-', text)
    # Strip hyphens from start and end
    text = text.strip('-')
    return text

In [ ]:
# Remove First two and Last two Chars from a string

In [ ]:
def remove_edges(s: str) -> str:
    return s[2:-2]

In [ ]:
remove_edges("abcdef")

'cd'

In [ ]:
remove_edges("abcdjbdsbhef")

'cdjbdsbh'

In [ ]:
# Reverse First half in an even length tuple

In [ ]:
def reverse_first_half(t: tuple) -> tuple:
    '''
    Given an even-length tuple, return a new tuple where the first half
    is reversed, and the second half remains unchanged.
    '''
    mid = len(t) // 2
    first_half_reversed = t[:mid][::-1]
    second_half = t[mid:]
    return first_half_reversed + second_half

In [ ]:
reverse_first_half((10, 20, 30, 40))

(20, 10, 30, 40)

In [ ]:
reverse_first_half(("a","b","u","j"))

('b', 'a', 'u', 'j')

In [ ]:
def reverse_first_half(t: tuple) -> tuple:
  mid =  len(t) // 2
  first_half_reversed = t[:mid][::-1]
  second_half = t[mid:]
  return first_half_reversed + second_half

In [ ]:
reverse_first_half(("a","b","u","j"))

('b', 'a', 'u', 'j')

In [ ]:
reverse_first_half(("f","h","t","j"))

('h', 'f', 't', 'j')

In [ ]:
# Delete the first three elements in a list

In [ ]:
def delete_first_three(l: list) -> None:
    '''
    Given a list, delete the first three elements in the list.

    Arguments:
    l: list - a list of elements.

    Return: None - the list is modified in place.
    '''
    return s[1:3]

In [ ]:
delete_first_three(1,2,3,4,5)

TypeError: delete_first_three() takes 1 positional argument but 5 were given

In [ ]:
remove_edges("abcdef")

'cd'

In [ ]:
# Number of unique common digits between two integers

In [ ]:
def number_of_unique_common_digits(n1: int, n2: int) -> int:
    '''
    Given two integers, return the number of unique digits that are common in both numbers.
    '''
    # Convert numbers to sets of digits
    s1 = set(str(n1))
    s2 = set(str(n2))

    # Find common digits
    common = s1 & s2   # intersection

    return len(common)

In [ ]:
number_of_unique_common_digits(1234,6789)

0

In [ ]:
from os.path import commonpath
def number_of_unique_common_digits(n1: int, n2: int) -> int:
    s1 = set(str(n1))
    s2 = set(str(n2))

    common = s1 & s2
    return len(common)

In [ ]:
number_of_unique_common_digits(1244434,655789)

0

In [ ]:
# Find the index of the row with maximum number of zeros in a matrix

In [ ]:
def row_index_with_most_number_of_zeros(matrix: list) -> int:
    '''
    Given a matrix, return the index of the row that contains
    the maximum number of zeros.
    '''
    max_zeros = -1
    max_row_index = -1

    for i, row in enumerate(matrix):
        zero_count = row.count(0)
        if zero_count > max_zeros:
            max_zeros = zero_count
            max_row_index = i

    return max_row_index

In [ ]:
matrix = [
    [1,0,0],
    [0,0,1],
    [1,1,1]
]
row_index_with_most_number_of_zeros(matrix)

0

In [ ]:
def row_index_with_most_number_of_zeros(matrix: list) -> int:
  max_zeros = -1
  max_row_index = -1

  for i, row in enumerate(matrix):
    zero_count = row.count(0)
    if zero_count > max_zeros:
      max_zeros = zero_count
      max_row_index = i
  return max_row_index

In [ ]:
matrix = [
    [1,1,1],
    [2,3,4],
    [2,4,5]
]

row_index_with_most_number_of_zeros(matrix)

0

In [ ]:
# Given a dictionary of students and courses taken, sort the courses based on enrollment

In [ ]:
def courses_sorted_by_enrollment(student_courses: dict) -> list:
    '''
    Return a list of courses sorted by number of enrollments (descending).
    '''
    course_count = {}

    # Count enrollments for each course
    for courses in student_courses.values():
        for c in courses:
            course_count[c] = course_count.get(c, 0) + 1

    # Sort courses by highest enrollment
    sorted_courses = sorted(course_count, key=lambda x: course_count[x], reverse=True)

    return sorted_courses

In [ ]:
data = {
    "23f1001": ["CS101", "MA101", "PH102"],
    "23f1002": ["MA101", "CS101"],
    "23f1003": ["PH102"],
}

courses_sorted_by_enrollment(data)

['CS101', 'MA101', 'PH102']

In [ ]:
# Find largest sub sequence with the antakshari property

In [ ]:
n = int(input())

for _ in range(n):
    words = input().strip().split(",")

    max_len = 1
    curr_len = 1

    for i in range(len(words) - 1):
        if words[i][-1] == words[i+1][0]:  # Antakshari property
            curr_len += 1
        else:
            curr_len = 1  # reset

        max_len = max(max_len, curr_len)

    print(max_len)

1
2
1

In [ ]:
#Hyphen seperated word digits of a number

In [ ]:
def num_to_word(num: int) -> str:
    digit_words = {
        '0': 'zero', '1': 'one', '2': 'two', '3': 'three', '4': 'four',
        '5': 'five', '6': 'six', '7': 'seven', '8': 'eight', '9': 'nine'
    }

    s = str(num)        # convert number to string
    words = [digit_words[ch] for ch in s]   # map each digit to word
    return "-".join(words)

In [ ]:
num_to_word(151)

'one-five-one'

In [ ]:
def num_to_word(num: int) -> str:
  digit_words = {
      '0': 'zero', '1': 'one', '2': 'two', '3': 'three', '4': 'four',
      '5': 'five', '6': 'six', '7': 'seven', '8': 'eight', '9': 'nine'
  }

  s = str(num)
  words = [digit_words[ch] for ch in s]
  return "@".join(words)

In [ ]:
num_to_word(159357)

'one@five@nine@three@five@seven'

In [ ]:
# Last Word in a Given Sentence That Starts with Uppercase Letter

In [ ]:
def last_word_starts_with_upper_case(sentence: str):
    words = sentence.split()

    result = None
    for w in words:
        if w[0].isupper():     # check if first character is uppercase
            result = w         # update — last matching word

    return result

In [ ]:
last_word_starts_with_upper_case('Hello, My self Clarance')

'Clarance'

In [ ]:
def last_word_starts_with_upper_case(sentence: str):
  words = sentence.split()

  result = None
  for w in words:
    if w[0].isupper():
      result = w
  return result

In [ ]:
last_word_starts_with_upper_case('He is from csir-building, iitm')

'He'

In [ ]:
# Capitalize nth Character

In [ ]:
def upper_nth_index_char(s: str, n: int) -> str:
    if n < 0 or n >= len(s):
        return s
    return s[:n] + s[n].upper() + s[n+1:]

In [ ]:
upper_nth_index_char("hello", 1)

'hEllo'

In [ ]:
def upper_nth_index_char(s: str, n: int) -> str:
  if n < 0 or n >= len(s):
    return s
  return s[:n] + s[n].upper() + s[n+1:]

In [ ]:
upper_nth_index_char("clarance", 0)

'Clarance'

In [ ]:
# Merge and Remove Duplicates

In [ ]:
def merge_and_remove_duplicates(list1: list, list2: list) -> set:
    return set(list1 + list2)

In [ ]:
merge_and_remove_duplicates([1, 2, 2], [2, 1, 1])

{1, 2}

In [ ]:
def merge_and_remove_duplicates(list1: list, list2: list) -> set:
  return set(list1 + list2)

In [ ]:
merge_and_remove_duplicates(["ant", "bat"], ["bat", "cat"])

{'ant', 'bat', 'cat'}

In [ ]:
# Swap Every Alternate Line and Reverse Odd Lines

In [ ]:
n = int(input().strip())

lines = [input().strip() for _ in range(n)]

# Step 1: Swap every alternate pair
for i in range(0, n - 1, 2):
    lines[i], lines[i + 1] = lines[i + 1], lines[i]

# Step 2: Reverse every odd-numbered line in the OUTPUT (1-based index)
for i in range(n):
    if (i + 1) % 2 == 1:    # odd numbered line
        print(lines[i][::-1])
    else:
        print(lines[i])

5
5
6
8
5
1
6
5
5
8
1

In [ ]:
n = int(input().strip())

lines = [input().strip() for _ in range(n)]
for i in range(0, n - 1, 2):
  lines[i], lines[i + 1] = lines[i + 1], lines[i]

for i in range(n):
  if (i + 1) % 2 == 1:
    print(lines[i][::-1])
  else:
    print(lines[i])

5
12
123
1234
12345
123456
321
12
54321
1234
654321

In [ ]:
# Replace Vowels with Next Alphabet

In [ ]:
def replace_vowels_with_next_alphabet(s: str) -> str:
    """
    Replaces all vowels in the input string with the next character in the alphabet.

    Args:
        s (str): The input string to process.

    Returns:
        str: A string with all vowels replaced by their next alphabetical character.

    Note:
        This function is case-sensitive.

    Examples:
        >>> replace_vowels_with_next_alphabet("hello")
        'hflmp'
        >>> replace_vowels_with_next_alphabet("HELLO")
        'HFLMP'
    """
    vowels = "aeiouAEIOU"
    result = ""

    for ch in s:
        if ch in vowels:
            result += chr(ord(ch) + 1)
        else:
            result += ch

    return result

In [ ]:
print(replace_vowels_with_next_alphabet('Clarance'))

Clbrbncf

In [ ]:
print(replace_vowels_with_next_alphabet('Bhupendra'))

Bhvpfndrb

In [ ]:
# Analyze Sentences

In [ ]:
def process_sentence(sentence, task):
    words = sentence.split()

    if task == "count_words":
        return len(words)

    elif task == "count_palindromes" or task == "count_palindrome_words":
        return sum(1 for w in words if w == w[::-1])

    elif task == "count_words_with_repeated_chars":
        def has_repeated_chars(word):
            return len(set(word)) != len(word)
        return sum(1 for w in words if has_repeated_chars(w))

    elif task == "words_with_max_len":
        max_len = max(len(w) for w in words)
        return {w for w in words if len(w) == max_len}

    else:
        raise ValueError("Invalid task")

In [1]:
# Check If a String has No Vowels in Even Indices

In [2]:
def has_no_vowels_in_even_indices(s):
    vowels = "aeiouAEIOU"
    for i, ch in enumerate(s):
        if i % 2 == 0 and ch in vowels:   # even index contains a vowel
            return False
    return True

In [3]:
has_no_vowels_in_even_indices('hello')

False

In [6]:
def has_no_vowels_in_even_indices(s):
  vowels = "aeiouAEIOU"
  for i, ch in enumerate(s):
    if i % 2 == 0  and ch in vowels:
      return False
  return True

In [7]:
has_no_vowels_in_even_indices("Clarance")

False

In [8]:
# Find Minimum Card of a Specific Suit in Hand

In [9]:
def find_min_card(cards: list, suit: str) -> str:
    """
    Find the minimum card of a specific suit in a given list of cards.
    """
    if not cards:
        return None

    # Ranking order for comparison
    rank_order = {
        '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10,
        'J': 11, 'Q': 12, 'K': 13, 'A': 14
    }

    # Filter cards matching the given suit
    suit_cards = []
    for card in cards:
        if card[0] == suit:
            rank = card[1:]               # handles '10' correctly
            suit_cards.append((rank_order[rank], card))

    if not suit_cards:
        return None

    # Return the original card string corresponding to the minimum rank
    return min(suit_cards)[1]

In [13]:
find_min_card(['H2', 'S9', 'DA', 'C5', 'CA'], 'S')

In [11]:
def find_min_card(cards: list, suit: str) -> str:
  """Find the mim card of a specific suit in a given list of cards"""
  if not cards:
    return None

    # Rnaking order for comparision
    rank_order ={
        '2': 2, '3': 3, '4': 4, '5': 5 , '6': 6, '7': 7, '8': 8, '9': 9, '10': 10,
        'J':11, 'Q': 12, 'K': 13, 'A': 14
    }

    suit_cards = []
    for card in cards:
      if card[0] == suit:
        rank  = card[1:]
        suit_cards.append((rank_order[rank], card))

    if not suit_cards:
      return None

    return min(suit_cards)[1]

In [15]:
find_min_card(['H10', 'D4'], 'S')

In [16]:
# Shuffle a Three Word Sentence

In [17]:
def shuffle_sentence(sentence, order):
    """
    Shuffles the words of a three-word sentence according to the specified order.
    """
    words = sentence.split()      # split into list of words
    return " ".join(words[i] for i in order)

In [20]:
shuffle_sentence('apple banana orange',(0, 2, 1))

'apple orange banana'

In [25]:
def shuffle_sentence(sentence, order):

    words =  sentence.split()
    return " ".join(words[i] for i in order)

In [27]:
shuffle_sentence('Clarance Hello', ( 1, 0))

'Hello Clarance'

In [28]:
# Number of Unique letters present in exactly one of the two strings

In [29]:
def n_unique_letters_in_exactly_one_of(s1: str, s2: str) -> int:
    # Convert both strings to lowercase sets of unique letters
    set1 = set(s1.lower())
    set2 = set(s2.lower())

    # Symmetric difference → letters in exactly one string
    return len(set1 ^ set2)

In [30]:
n_unique_letters_in_exactly_one_of("Apple", "Mango")

7

In [31]:
def n_unique_letters_in_exactly_one_of(s1: str, s2: str) -> int:
  set1 = set(s1.lower())
  set2 =  set(s2.lower())

  return len(set1 ^ set2)

In [33]:
n_unique_letters_in_exactly_one_of("Aman", "Bhupendra")

8

In [32]:
n_unique_letters_in_exactly_one_of("Bhupendra","Clarance")

7

In [34]:
# Double if Even Else Square

In [35]:
def double_if_even_else_square(x):
    """
    Returns 2*x if x is even, otherwise returns x*x.
    """
    if x % 2 == 0:
        return x * 2
    else:
        return x * x

In [36]:
double_if_even_else_square(2)

4

In [37]:
def double_if_even_else_square(x):

  if x % 2 == 0:
    return x * 2
  else:
    return x * x

In [38]:
double_if_even_else_square(7)

49

In [39]:
double_if_even_else_square(0)

0

In [40]:
# Find Characters Appearing More Than Once

In [41]:
def find_chars_appearing_more_than_once(s):
    """
    Returns a set of characters that appear more than once in the string.
    """
    from collections import Counter
    freq = Counter(s)
    return {ch for ch, count in freq.items() if count > 1}

In [42]:
find_chars_appearing_more_than_once('Bhupendra')

set()

In [43]:
find_chars_appearing_more_than_once('Clarance')

{'a'}

In [55]:
def find_chars_appearing_more_than_once(s):
    """
    Returns a set of characters that appear more than once in the string.
    """
    from collections import Counter
    freq = Counter(s)
    return {ch for ch, count in freq.items() if count > 1}

In [56]:
find_chars_appearing_more_than_once('Chennai')

{'n'}

In [57]:
# Count Word Types by Length and Palindrome Property