<a href="https://colab.research.google.com/github/Bhupendra-glitch/Py3/blob/main/Py3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#forLoop

# **OPPS in Py**

In [ ]:
# Class
class Student:
  pass

In [ ]:
# Object
s1 = Student()
s2 = Student()

In [ ]:
# Attribute
class Student:
  name = "Bhupendra"
  age = 20

In [ ]:
# Methods
class Student:
  def display(self):
    print("Name:", self.name)
    print("Age:", self.age)

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name   # attribute
        self.age = age

    def display(self):      # method
        print("Name:", self.name)
        print("Age:", self.age)


s1 = Student("Bhupendra", 20)
s1.display()

Name: Bhupendra
Age: 20

In [ ]:
class Student:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def display(self):
    print("Name:", self.name)
    print("Age:", self.age)

s1 = Student("Clarance", 20)
s1.display()

Name: Clarance
Age: 20

**Four Pillars of OOP**

In [ ]:
# Encapsulation
class Bank:
    def __init__(self, balance):
        self.__balance = balance   # private variable

    def show(self):
        print("Balance:", self.__balance)

In [ ]:
class Student:
  def __init__(self, name, age, marks):
    self.__name = name
    self.__age = age
    self.__marks = marks

  def show(self):
    print("Name:", self.__name)
    print("Age:", self.__age)
    print("Marks:", self.__marks)

In [ ]:
class Cetaphil:
  def __init__(dry, normal, wet, sensitive):
    self.__dry = dry
    self.__normal = normal
    self.__wet = wet
    self.__sensitive = sensitive

  def show(self):
    print("Dry:", self.__dry)
    print("Normal:", self.__normal)
    print("Wet:", self.__wet)
    print("Sensitive:", self.__sensitive)

    # for Cetaphil

In [ ]:
# Inheritance
class Animal:
    def sound(self):
        print("Animal makes sound")

class Dog(Animal):
    def sound(self):
        print("Dog barks")

In [ ]:
class Water:
  def  type(self):
    print("Water is type of matter")

class brine(Water):
  def type(self):
    print("Brine is type of liquid")

In [ ]:
class Student:
  def type(self):
    print("Student is type of person")

class Employee(Student):
  def type(self):
    print("Employee is type of person")

class Teacher(Student):
  def type(self):
    print("Teacher is a type of person")


class Staff(Student):
  def type(self):
    print("Staff is type of person")

In [ ]:
# Polymorphism
class Car:
    def run(self):
        print("Car is running")

class Bike:
    def run(self):
        print("Bike is running")

In [ ]:
class Elephant:
  def type(self):
    print("Elephant is type of animal")

class Lion:
  def type(self):
    print("Lion is type of animal")

class Tiger:
  def type(self):
    print("Tiger is type of animal")

In [ ]:
class Aman:
  def type(self):
    print("Aman is type of Good Person")

class Bhupendra:
  def type(self):
    print("He is also Good one")

class Clarance:
  def typr(self):
    print("and He is  Best one")

In [ ]:
# Abstraction
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

*Go ahead*

In [ ]:
# 1
class Car:
    def __init__(self, brand, model, price):
        self.brand = brand
        self.model = model
        self.price = price

    def info(self):
        print(f"Brand: {self.brand}")
        print(f"Model: {self.model}")
        print(f"Price: ₹{self.price}")


c = Car("Toyota", "Fortuner", 4200000)
c.info()

Brand: Toyota
Model: Fortuner
Price: ₹4200000

In [ ]:
class Laptop:
  def __init__(self, brand, model, price, Gpu, refreshrate, ):
    self.brand = brand
    self.model = model
    self.price = price
    self.Gpu = Gpu
    self.refreshrate = refreshrate

  def info(self):
    print(f"Brand: {self.brand}")
    print(f"model: {self.model}")
    print(f"price: {self.price}")
    print(f"Gpu: {self.Gpu}")
    print(f"refresh rate: {self.refreshrate}")

    L = Laptop("HP", "VICTUS", "83000", "nvidia", "144hz")
    L.info()

In [ ]:
# Employee salary Calculaion

In [ ]:
class Employee:
    def __init__(self, name, basic, bonus):
        self.name = name
        self.basic = basic
        self.bonus = bonus

    def total_salary(self):
        return self.basic + self.bonus


e1 = Employee("Bhupendra", 25000, 7000)
print("Total Salary =", e1.total_salary())

Total Salary = 32000

In [ ]:
class Employee:
  def __init__(self, name, basic, bonus, absent):
    self.name =  name
    self.basic  = basic
    self.bonus = bonus
    self.absent = absent

  def total_salary(self):
    return self.basic + self.bonus - self.absent

e1 = Employee("Clarance", 225000, 60000, 2000)
print("Total Salary =", e1.total_salary())

Total Salary = 283000

In [ ]:
# Bank deposite and withdrawn

class Bank:
    def __init__(self, name, balance):
        self.name = name
        self.__balance = balance

    def deposit(self, amount):
        self.__balance += amount
        print("Deposited:", amount)

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
            print("Withdrawn:", amount)
        else:
            print("Insufficient balance")

    def get_balance(self):
        print("Current Balance:", self.__balance)


b = Bank("Bhupendra", 5000)
b.deposit(1500)
b.withdraw(3000)
b.get_balance()

Deposited: 1500
Withdrawn: 3000
Current Balance: 3500

In [ ]:
class Bank:
  def __init__(self, name, balance):
    self.name = name
    self.__balance = Balance

  def deposite(self, amount):
    self.__balance += amount
    print("Deposited:", amount)

  def withdrawn(self, amount):
    if amount <= self.__balance:
      self.__balance -= amount
      print("Withdrawn:", amount)

    else:
      print("Insufficient balance")

  def get_balance(self):
    print("Current Balance:", self.__balance)
b  = Bank("Clarance", 5000000)
b.deposite(1500000)
b.withdrawn(3000000)
b.get_balance()

NameError: name 'Balance' is not defined

In [ ]:
# Student and Marks

In [ ]:
class Student:
    def __init__(self, name, roll):
        self.name = name
        self.roll = roll

class Marks(Student):
    def __init__(self, name, roll, marks):
        super().__init__(name, roll)
        self.marks = marks

    def show(self):
        print("Name:", self.name)
        print("Roll:", self.roll)
        print("Marks:", self.marks)


m1 = Marks("Bhupendra", 101, 92)
m1.show()

In [ ]:
from os import major
class Student:
  def __init__(self, name, roll, college, major, year, marks, grade, attendance):
    self.name = name
    self.roll = get_roll
    self.college = college
    self.major = major
    self.year = year
    self.marks = marks
    self.grade = grade
    self.attendance = attendance

class Marks(Student):
  def __init__(self, name, roll, college, major, year, marks, grade, attendance):
    super().__init__(name, roll, college, major, year, garde, attendance)
    self.marks = marks

  def show(self):
    print("Name:", self.name)
    print("Roll:", self.roll)
    print("College:", self.college)
    print("Major:", self.major)
    print("Year:", self.year)
    print("Marks:", self.marks)
    print("Grade:", self.grade)
    print("Attendance:", self.attendance)

    m1 = Marks("Bhupendra", DS251000135, "IIT Madras", "Data Science", 2025, 92, "A", 95)
    m1.show()

In [ ]:
# Area od Shapes

In [ ]:
class Shape:
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, r):
        self.r = r

    def area(self):
        return 3.14 * self.r * self.r

class Rectangle(Shape):
    def __init__(self, l, b):
        self.l = l
        self.b = b

    def area(self):
        return self.l * self.b


c = Circle(7)
r = Rectangle(5, 6)

print("Circle Area:", c.area())
print("Rectangle Area:", r.area())

In [ ]:
class Shape:
  def area(self):
    pass

class Circle(Shape):
  def __init__(self, r):
    self.r = r

  def area(self):
    return 3.14 * self.r * self.r

class Rectangle(Shape):
  def __init__(self, l, b):
    self.l = l
    self.b = b

  def area(self):
    return self.l * self.b * self.B

c = Circle(9)
r = Rectangle(5, 9)

print("Circle Area:", c.area())
print("Rectangle Area:" r.area())



print("Circle Area:", c.area())
print("Rectangle Area:", r.area())

In [ ]:
# Simple Calculator

In [ ]:
class Calculator:
    def add(self, a, b, c=0):
        return a + b + c

c = Calculator()
print(c.add(10, 20))
print(c.add(10, 20, 30))

In [ ]:
class Calculator:
    def add(self, a, b, c=0):
        return a + b + c

    def sub(self, a, b, c=0):
      return a - b - c

    def mul(self, a, b, c=0):
      return a * b * c

    def div(self, a, b, c=0):
      return a / b / c

c = Calculator()
print(c.add(10, 20))
print(c.add(10, 20, 30))
print(c.sub(10, 20))
print(c.mul(10, 20, 30))
print(c.div(50,10,2))

In [ ]:
# Library Management System (OOP + Inheritance + Encapsulation)

In [ ]:
class Books:
  def __init__(salf, title, author, copies):
    self.title = title
    self.author =  author
    self.__copies = copies

  def get_copies(self):
    return self.__copies

  def add__copy(self):
    self.__copies += 1

  def issue_copy(self):
    if self.__copies > 0:
      self.__copies -= 1
      return True
    else:
      return False

class Library:
  def __init__(self):
    self.books = {}

  def add_book(self, book):
    self.books[book.title] =  book

  def issue_book(self, title):
    if title in self.books:
      if self.books[title].issue_copy():
        print(f"Book '{title}' issued successfully.")
      else:
        print(f"Book '{title}' is not available for issue.")

    else:
      print(f"Book '{title}' not found in the library.")

  def return_book(self, title):
    if title in self.books:
      self.books[title].add_copy()
      print(f"Book '{title}' returned successfully.")
    else:
      print(f"Book '{title}' not found in the library.")

In [ ]:
# Testing
b1 = Book("Python", "Guido", 3)
b2 = Book("AI Basics", "Andrew", 1)

lib = Library()
lib.add_book(b1)
lib.add_book(b2)

lib.issue_book("Python")
lib.issue_book("AI Basics")
lib.issue_book("AI Basics")  # no copies
lib.return_book("Python")

In [ ]:
# Online Shopping Cart System (Aggregation + Polymorphism)

In [ ]:
class Product:
  def __init__(self, name, price):
    self.name = name
    self.price = price

  def total_price(self):
    return self.price

class Electronics(Product):
  def __init__(self, name, price, warranty):
    super().__init__(name, price)
    self.warranty = warranty

  def total_price(self):
    return self.price + 100

class Clothing(Product):
  def __init__(self, name, price, size):
    super().__init__(name, price)
    self.size = size

  def total_price(self):
    self.item = []

  def total_price(self):
    return self.price * 0.9


class Cart:
  def __init__(self):
    self.item  = []

  def add_item(self, product):
    self.item.append( product)

  def total_bill(self):
    return sum(item.total_price() for item in self.items)

In [ ]:
# Testing
p1 = Electronics("Laptop", 50000, 2)
p2 = Clothing("T-Shirt", 800, "L")
p3 = Clothing("Jeans", 1200, "M")

cart = Cart()
cart.add_item(p1)
cart.add_item(p2)
cart.add_item(p3)

print("Total Bill:", cart.total_bill())

In [ ]:
# Student Result Management (Inheritance + Overriding + Abstraction)

In [ ]:
from abc import ABC, abstractmethod

class StudentBase(ABC):
  @abstractmethod
  def calculate_percentage(self):
    pass

  @abstractmethod
  def display_result(self):
    pass

class Student(StudentBase):
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks

  def calculate_percentage(self):
    self.percentage  = sum(self.marks) / 5
    return self.percentage

  def check_result(self):
    if min(self.marks) < 33:
      return "Fail"
    return "Pass"

  def show(self):
    print("Name:", self.name)
    print("Percentage:", self.calculate_percentage())
    print("Result:", self.check_result())

In [ ]:
# Testing
s = Student("Bhupendra", [85, 92, 76, 88, 90])
s.show()

In [ ]:
#  Hospital Management System (OOP + Polymorphism + Inheritance)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name =  name
    self.age  =  age

  def show(self):
    print(f"Name:{self.name}, Age:{self.age}")

class Doctor(Person):
  def __init__(self, name, age, specialization):
    super().__init__(name, age)
    self.specialization = specialization

def show(self):
  super().show()
  print("Specialization:", self.specialization)
  print()

class Patient(Person):
  def __init__(self, name, age, disease):
    super().__init__(name, age)
    self.disease = disease

  def show(self):
    super().show()
    print("Disease:", self.disease)
    print()

class Hospital:
  def __init__(self):
    self.doctors = []
    self.patients = []

  def show_all(self):
    print("---- Doctor ----")
    for d in self.doctors:
      d.show()

    print("---- Patients ----")
    for p in self.patients:
      p.show()

In [ ]:
# Test
h = Hospital()
h.add_doctor(doctor("Dr. Roy", 45, "Cardiologist"))
h.add_patient(Patient("Bhupendra", 25, "Heart Disease"))
h.show_all()

In [ ]:
# Ecommerce User Review System

In [ ]:
class Review:
  def __init__(self, user, rating, comment):
    self.user  = User
    self.rating = rating
    self.comment = comment

class Product:
  def __init__(self, name, price):
    self.name = name
    self.price = price
    self.review  = []

  def add_review(self, review):
    self.reviews.append(review)

  def avg_rating(self):
    if not self.reviews:
      return 0
    return sum(r.rating for r in self.reviews) /len(self.reviews)


def shoW_reviews(self):
  for r in self.reviews:
    print(f"{r.user}: {r.rating} ★ -> {r.comment}")

In [ ]:
# Check
p = Product("Headphones", 999)
p.add_review(Review("Bhupendra", 5, "Excellent quality!"))
p.add_review(Review("Rohan", 4, "Good but pricey."))

p.show_reviews()
print("Average Rating:", p.avg_rating())

In [ ]:
class Account:
    def __init__(self, name, balance=0):
        self.name = name
        self.__balance = balance   # private variable

    def deposit(self, amt):
        self.__balance += amt

    def withdraw(self, amt):
        if amt <= self.__balance:
            self.__balance -= amt
        else:
            print("Insufficient balance")

    def get_balance(self):
        return self.__balance

class SavingsAccount(Account):
    def __init__(self, name, balance, interest_rate):
        super().__init__(name, balance)
        self.interest_rate = interest_rate

    def add_interest(self):
        interest = self.get_balance() * (self.interest_rate / 100)
        self.deposit(interest)

# Use
acc = SavingsAccount("Bhupendra", 1250200, 5)
acc.add_interest()
print(acc.get_balance())

In [ ]:
class Account:
  def __init__(self, name, balance=0):
    self.name = name
    self.__balance = balance

  def deposit(self, amt):
    self.__balance += amt

  def withdraw(self, amt):
    if amt <= self.__balance:
      self.__balance -= amt
    else:
      print("Insufficient balance")
  def get_balance(self):
    return self.__balance

class SavingsAccount(Account):
  def __init__(self,name, balance, interest_rate):
    super().__init__(name, balance)
    self.interest_rate = interest_rate

  def add_interest(self):
    interest = self.get_balance() * (self.interest_rate / 100)
    self.deposit(interest)

In [ ]:
# Check
acc = SavingsAccount("Aman", 1500000, 10)
acc.add_interest()
print(acc.get_balance())

In [ ]:
# Graph BFS and DFS Traversal

# ALGORITHMS

# Searching Algorithms

In [ ]:
 #Linear Search

In [ ]:
def linear_search(arr, x):
  for i in range(len(arr)):
    if arr[i] == x:
      return i
  return -1

In [ ]:
print(linear_search([10, 20, 30, 40, 50, 60], 50))

4

In [ ]:
def linear_search(arr, x):
  for i in  range(len(arr)):
    if arr[i] == x:
      return i
  return -1

In [ ]:
print(linear_search([11, 22, 333, 85547], 333))

2

# Sorting Algorithms

In [ ]:
# Binary Search

In [ ]:
def binary_search(arr, x):
  low, high = 0, len(arr)-1
  while low <= high:
    mid = (low + high)//2
    if arr[mid] == x:
      return mid
    elif arr[mid] < x:
      low = mid + 1
    else:
      high = mid - 1
  return -1

In [ ]:
print(binary_search([10, 20, 30, 40, 50], 600))

-1

In [ ]:
def binary_search(arr, x):
  low, high =0, len(arr)-1
  while low <= high:
    mid = (low + high)//2
    if arr[mid] == x:
      return mid
    elif arr[mid] < x:
      low = mid + 1
    else:
      high = mid - 1
      return -1

In [ ]:
print(binary_search([11, 88, 25, 750], 750))

3

In [ ]:
# Bubble Sort

In [ ]:
def bubble_sort(arr):
  for i in range(len(arr)):
    for j in range(len(arr)-1-i):
      if arr[j] > arr[j+1]:
        arr[j], arr[j+1] = arr[j+1], arr[j]
  return arr

In [ ]:
print(bubble_sort([1, 5, 8, 5]))

[1, 5, 5, 8]

In [ ]:
from IPython.core.magics.basic import argparse
def bubble_sort(arr):
  for i in range(len(arr)):
    for j in range(len(arr)-1-i):
      if arr[j] > arr[j+1]:
        arr[j], arr[j+1] = arr[j+1], arr[j]
  return arr

In [ ]:
print(bubble_sort([44, -25, 2, -0]))

[-25, 0, 2, 44]

In [ ]:
print(bubble_sort([4, 8, 5, 7]))

[4, 5, 7, 8]

In [ ]:
# Selection Sort

In [ ]:
def selection_sort(arr):
    for i in range(len(arr)):
        min_i = i
        for j in range(i+1, len(arr)):
            if arr[j] < arr[min_i]:
                min_i = j
        arr[i], arr[min_i] = arr[min_i], arr[i]
    return arr

print(selection_sort([4, 2, 6, 1]))

[1, 2, 4, 6]

In [ ]:
def selection_sort(arr):
  for i in range(len(arr)):
    min_i = i
    for j in range(i+1, len(arr)):
      if arr[j] < arr[min_i]:
        min_i = j
    arr[i], arr[min_i] = arr[min_i], arr[i]
  return arr

In [ ]:
print(selection_sort([1, 77, 25, 4]))

[1, 4, 25, 77]

In [ ]:
# Insertion Sort

In [ ]:
def insertion_sort(arr):
  for i in range(len(arr)):
    key = arr[i]
    j = i - 1
    while j >= 0 and key < arr[j]:
      arr[j+1] = arr[j]
      j -= 1
    arr[j+1] = key
    return arr

In [ ]:
print(insertion_sort([35, 5, 70, 88]))

[35, 5, 70, 88]

In [ ]:
def insertion_sort(arr):
  for i in range(len(arr)):
    key = arr[i]
    j = i - 1
    while j >= 0 and key < arr[j]:
      arr[j+1] = arr[j]
      j -= 1
    arr[j+1] = key
    return arr

In [ ]:
print(insertion_sort([1, 2, 3, 4]))

[1, 2, 3, 4]

In [ ]:
print(insertion_sort([25, 45, 85, 56, 14]))

[25, 45, 85, 56, 14]

In [ ]:
def merge_sort(arr):
    if len(arr) <= 1:
        return arr

    mid = len(arr)//2
    left = merge_sort(arr[:mid])
    right = merge_sort(arr[mid:])

    sorted_arr = []
    i = j = 0

    while i < len(left) and j < len(right):
        if left[i] < right[j]:
            sorted_arr.append(left[i])
            i += 1
        else:
            sorted_arr.append(right[j])
            j += 1

    sorted_arr.extend(left[i:])
    sorted_arr.extend(right[j:])
    return sorted_arr

print(merge_sort([7, 2, 6, 3]))

[2, 3, 6, 7]

In [ ]:
# Merge Sort

In [ ]:
def merge_sort(arr):
    if len(arr) <= 1:
        return arr

    mid = len(arr)//2
    left = merge_sort(arr[:mid])
    right = merge_sort(arr[mid:])

    sorted_arr = []
    i = j = 0

    while i < len(left) and j < len(right):
        if left[i] < right[j]:
            sorted_arr.append(left[i])
            i += 1
        else:
            sorted_arr.append(right[j])
            j += 1

    sorted_arr.extend(left[i:])
    sorted_arr.extend(right[j:])
    return sorted_arr

print(merge_sort([7, 2, 6, 3]))

[2, 3, 6, 7]

In [ ]:
def merge_sort(arr):
  if len(arr) <= 1:
    return arr
  mid =  len(arr)//2
  left = merge_sort(arr[:mid])
  right = merge_sort(arr[mid:])

  sorted_arr = []
  i = j = 0

  while i < len(left) and j < len(right):
    if left[i] < right[j]:
      sorted_arr.append(left[i])
      i += 1
    else:
      sorted_arr.append(right[j])
      j += 1
  sorted_arr.extend(left[i:])
  sorted_arr.extend(right[j:])
  return sorted_arr

In [ ]:
print(merge_sort([1,5,9,0]))

[0, 1, 5, 9]

In [ ]:
# Quick Sort

In [ ]:
def quick_sort(arr):
  if len(arr) <= 1:
    return arr
  pivot = arr[0]
  left = [x for x in arr[1:] if x < pivot]
  right = [x for x in arr[1:] if x >= pivot]
  return quick_sort(left) + [pivot] + quick_sort(right)

In [ ]:
print(quick_sort([1,8,5,5]))

[1, 5, 5, 8]

#Graph Algorithms

In [ ]:
# BFS

In [ ]:
from collections import deque
def bfs(graph, start):
  vistied =  set()
  queue = deque([start])
  while queue:
    node = queue.popleft()
    if node not in visited:
      print(node, end=" ")
      visited.add(node)
      queue.extend(graph[node])

In [ ]:
graph = {1:[2,3], 2:[4], 3:[5], 4:[], 5:[]}
bfs(graph, 1)

NameError: name 'visited' is not defined

In [ ]:
# DFS

In [ ]:
def dfs(graph, node, visited=set()):
    if node not in visited:
        print(node, end=" ")
        visited.add(node)
        for neighbor in graph[node]:
            dfs(graph, neighbor, visited)

graph = {1:[2,3], 2:[4], 3:[5], 4:[], 5:[]}
dfs(graph, 1)

1 2 4 3 5

In [ ]:
def dfs(graph, node, visited=set()):
  if  node not in visited:
    print(node, end=" ")
    visited.add(node)
    for neighbor in graph[node]:
      dfs(graph, neighbor, visited)

In [ ]:
graph = {1:[3,5], 2:[9], 3:[7], 4:[], 5:[6]}
dfs(graph, 1)

1 3 7

KeyError: 7

In [ ]:
# Dijkstra’s Algorithm

In [ ]:
import heapq

def dijkstra(graph, start):
    dist = {node: float("inf") for node in graph}
    dist[start] = 0
    pq = [(0, start)]

    while pq:
        cur_dist, node = heapq.heappop(pq)
        if cur_dist > dist[node]:
            continue
        for neigh, weight in graph[node]:
            new_dist = cur_dist + weight
            if new_dist < dist[neigh]:
                dist[neigh] = new_dist
                heapq.heappush(pq, (new_dist, neigh))

    return dist

graph = {
    'A':[('B',1),('C',4)],
    'B':[('C',2),('D',5)],
    'C':[('D',1)],
    'D':[]
}
print(dijkstra(graph, 'A'))

{'A': 0, 'B': 1, 'C': 3, 'D': 4}

In [ ]:
import heapq

def dijkstra(graph, start):
  dist = {node: float("inf") for node in graph}
  dist[start] = 0
  pq = [(0, start)]

  while pq:
    cur_dist, node = heapq.heappop(pq)
    if cur_dist > dist[node]:
      continue
    for neigh, weight in graph[node]:
      new_dist = cur_dist + weight
      if new_dist < dist[neigh]:
        dist[neigh] = new_dist
        heapq.heappop(pq, (new_dist, neigh))

    return dist

# Dynamic Programming (DP)

In [ ]:
# Fibonacci

In [ ]:
def fib(n, memo={}):
    if n <= 1:
        return n
    if n in memo:
        return memo[n]
    memo[n] = fib(n-1) + fib(n-2)
    return memo[n]

print(fib(10))

55

In [ ]:
def fib(n, memo={}):
  if n <= 1:
    return n
  if n in memo:
    return memo[n]
  memo[n] = fib(n-1) + fib(n-2)
  return memo[n]

In [ ]:
print(fib(4))

3

In [ ]:
# Longest Common Subsequence (LCS)

In [ ]:
def lcs(a, b):
    dp = [[0]*(len(b)+1) for _ in range(len(a)+1)]
    for i in range(1, len(a)+1):
        for j in range(1, len(b)+1):
            if a[i-1] == b[j-1]:
                dp[i][j] = dp[i-1][j-1] + 1
            else:
                dp[i][j] = max(dp[i-1][j], dp[i][j-1])
    return dp[-1][-1]

print(lcs("ABCBDAB", "BDCABC"))

4

In [ ]:
def lcs(a, b):
  dp = [[0]*(len(b)+1) for _ in range(len(a)+1)]
  for i in range(1, len(a)+1):
    for j in range(1, len(b)+1):
      if a[i-1] == b[j-1]:
        dp[i][j] = dp[i-1][j-1] + 1
      else:
        dp[i][j] = max(dp[i-1][j], dp[i][j-1])
  return dp[-1][-1]

In [ ]:
print(lcs("AABBCD", "BBCCAA"))

3

# String Algorithms

In [ ]:
# Palindrome Check

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))

True

In [ ]:
def is_palindrome(s):
  return s == s[::-1]
print(is_palindrome("K"))

True

In [ ]:
print(is_palindrome("121"))

True

In [ ]:
print(is_palindrome("1551"))

True

In [ ]:
# Anagram Check

In [ ]:
def anagram(a, b):
    return sorted(a) == sorted(b)

In [ ]:
print(anagram("listen", "silent"))

True

In [ ]:
def anagram(a, b):
  return sorted(a) == sorted(b)

In [ ]:
print(anagram("Aman", "Bhupendra")) # different length

False

In [ ]:
print(anagram("159", "245"))

False

In [ ]:
print(anagram('111', '111'))

True

In [ ]:
print(anagram('123', '321'))

True

In [ ]:
from collection import double_if_even_else_square
 def word_ladder(begin)

# OPPE in Py

In [ ]:
s = "Bhupendra"

In [ ]:
n = len(s)
print(len(s))

9

In [ ]:
pen = s[3:8:2] #slicing

In [ ]:
print(pen) #check

pnr

In [ ]:
pen = s[3:8:1] #slicing
print(pen)

pendr

In [ ]:

ardne = s[-6:-12:-1]
print(ardne)

puhB

In [ ]:
s = Bhupendra
x  = s[::-1]
print("s")

NameError: name 'Bhupendra' is not defined

In [ ]:
# list

In [ ]:
nums = [2, 4, 6, 8, 10]

In [ ]:
x  = nums.pop(2)
print(nums, x)

[2, 4] 6

In [ ]:
nums = [2, 4, 6, 8, 10]
x  = nums.pop(-3)
print(nums, x)

[2, 4, 8, 10] 6

In [ ]:
# Append abd Insert

In [ ]:
nums.append(12)

In [ ]:
print(nums)

[2, 4, 8, 10, 12]

In [ ]:
# now

In [ ]:
nums = [2, 4, 6, 8, 10]
nums.insert(2, 14)
print(nums)

[2, 4, 14, 6, 8, 10]

In [ ]:
# any negative index here

In [ ]:
nums = [2, 4, 6, 8, 10]
nums.insert(-1, 14)
print(nums)

[2, 4, 6, 8, 14, 10]

In [ ]:
nums = [2, 4, 6, 8, 10]
nums.insert(-0, 14)
print(nums)

[14, 2, 4, 6, 8, 10]

In [ ]:
nums = [2, 4, 6, 8, 10]
nums.insert(-2, 14)
print(nums)

[2, 4, 6, 14, 8, 10]

In [ ]:
nums.append(12)

In [ ]:
print(nums)

[2, 4, 6, 14, 8, 10, 12]

In [ ]:
nums = [2, 4, 6, 8, 10]
nums.insert(-4, 14)
print(nums)

[2, 14, 4, 6, 8, 10]

In [ ]:
nums = [2, 4, 6, 8, 10]
nums.insert(-1, 14)
print(nums)

[2, 4, 6, 8, 14, 10]

In [ ]:
# List Comprehesion

In [ ]:
nums = [2, 4, 6, 8, 10]
even  = []
for i in range(2, 11, 2):
  even.append(i)
print(even)

[2, 4, 6, 8, 10]

In [ ]:
myevens = [i for i in range(2, 11, 2)]
print(myevens)

[2, 4, 6, 8, 10]

In [ ]:
myevens = {i for i in range(2, 11, 2)}
print(myevens) # Now outcome is Set

{2, 4, 6, 8, 10}

In [ ]:
evens = [2, 4, 6, 8, 10]
print(iter(evens)) #

<list_iterator object at 0x7e66cabb5c60>

In [ ]:
for x in myevens:
  print(x)

2
4
6
8
10

In [ ]:
for i in range(1, 6):
  evens.append(1*2)
print(evens)

[2, 4, 6, 8, 10, 2, 2, 2, 2, 2]

In [ ]:
evens = [2, 4, 6, 8, 10]

In [ ]:
for i in range(1, 11):
  if i%2 == 0:
    evens.append(i)
  print(evens)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 2]
[2, 4, 6, 8, 10, 2]
[2, 4, 6, 8, 10, 2, 4]
[2, 4, 6, 8, 10, 2, 4]
[2, 4, 6, 8, 10, 2, 4, 6]
[2, 4, 6, 8, 10, 2, 4, 6]
[2, 4, 6, 8, 10, 2, 4, 6, 8]
[2, 4, 6, 8, 10, 2, 4, 6, 8]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [ ]:
''' CRUD - CREAT, READ, UPDATE, DELECTE '''

' CURD - CREAT, READ, UPDATE, DELECTE '

In [ ]:
# List, Tuple, Sets

In [ ]:
nums = [1]
nums2 = (2),

In [ ]:
nums = []
nums2 = ()
print(type(nums))
print(type(nums2))

<class 'list'>
<class 'tuple'>

In [ ]:
# Check
x = (1, )
print(type(x))
print(len(x))

<class 'tuple'>
1

In [ ]:
x = [1, 1, 2, 1, 2, 3]
y = (1, 1, 2, 1, 2, 3)
z = {1, 1, 2, 1, 2, 3}
print(type(x))
print(type(y))
print(type(z))

print(len(x))
print(len(y))
print(len(z))

<class 'list'>
<class 'tuple'>
<class 'set'>
6
6
3

In [ ]:
x = [1, [2, 3],(4, 5), {6, 7}]
print(type(x))
print(len(x))

<class 'list'>
4

In [ ]:
y = (1, [2, 3], (4, 5), {6, 7})
print(type(y))
print(len(y))

<class 'tuple'>
4

In [ ]:
# TypeError: unhashable type: 'list'
z = {1, [2, 3], (4, 5), {6, 7}}
print(type(z))
print(len(z))

TypeError: unhashable type: 'list'

In [ ]:
# Can be changed?- hashable - immutable: int,  tuple, string, , float, bool

In [ ]:
# Can be changed - mutable - unhashable: list, set, dict

In [ ]:
A = {1, 2, 3, 4, 5}
B  = {4, 5 , 6, 7, 8}

x = A.union(B)
print(x)
print(len(x))

{1, 2, 3, 4, 5, 6, 7, 8}
8

In [ ]:
z = A.symmetric_difference(B)
print(z)

{1, 2, 3, 6, 7, 8}

In [ ]:
x = set()
for i in range(1, 8):
  x.add(i)
print(x)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
y = {i for i in range(1, 8)}
print(y)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
y = {i*i for i in range(1, 8)}
print(y)

{1, 4, 36, 9, 16, 49, 25}

In [ ]:
y = {i*i for i in range(1, 8) if i%2 == 0}
print(y)

{16, 4, 36}

In [ ]:
y = {(i, i*2) for i in range(1, 8) if i%2 == 0}
print(y)

{(6, 12), (2, 4), (4, 8)}

In [ ]:
y = {[i, i*2] for i in range(1, 8) if i%2 == 0}
print(y)

TypeError: unhashable type: 'list'

In [ ]:
d = {1:2, 3:8, 5:8, 5:10}
print(type(d))
print(len(d))

<class 'dict'>
3

In [ ]:
d = {1:2, 3:8, 5:8, 5:8}
print(type(d))
print(len(d))

<class 'dict'>
3

In [ ]:
d = {1:2, 1:3, 5:8, 5:9}
print(type(d))
print(len(d))

<class 'dict'>
2

In [ ]:
d = {
    1:2,
    True: 5,
    0: 4,
    [2, 3]: 4,
    (2, 3): 4,
    "":  6,
    False: 6
}
print(len(d))

TypeError: unhashable type: 'list'

In [ ]:
d = {
    1:2,
    True: 5,
    0: 4,
    (2, 3): 4,
    "":  6,
    False: 6
}
print(len(d)) # 4- Tand F is bool

4

In [ ]:
print(d)

{1: 5, 0: 6, (2, 3): 4, '': 6}

In [ ]:
print(int(True))

1

In [ ]:
print(bool(1))

True

In [ ]:
print(int(False))

0

In [ ]:
print(bool(0))

False

In [ ]:
print(int(False),hash(False))
print(bool(0), hash(0))

0 0
False 0

In [ ]:
# Same Ans

In [ ]:
def square(x):
  return x**2
print(square(2))
print(square(10))

4
100

In [ ]:
def square(x):
  return x**2
sq = lambda a: a**2
print(sq(2))
print(sq(10))

4
100

In [ ]:
def square(x):
  return False
print(square(2))
print(square(10))

False
False

In [ ]:
def square(x):
  return False
sq = lambda a: a**2
print(sq(2))
print(sq(10))

4
100

In [ ]:
nums = [1, 2, 3, 4, 5]
squares = []
for i in nums:
  squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
squares2 = [i**2 for i in nums]
print(squares2)

[1, 4, 9, 16, 25]

In [ ]:
squares3 =[sq(i) for i in nums]
print(squares3)

[1, 4, 9, 16, 25]

In [ ]:
squares3 = (map(sq, nums))
print(squares3)

<map object at 0x7b0a773c4670>

In [ ]:
squares3 = list(map(sq, nums))
print(squares3)

[1, 4, 9, 16, 25]

In [ ]:
# Filters

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = []
for i in nums:
  if i%2 == 0:
    evens.append(i)
print(evens)

[2, 4, 6, 8, 10]

In [ ]:
evens2 = [i for i in nums if i%2 == 0]
print(evens2)

[2, 4, 6, 8, 10]

In [ ]:
def is_even(n):
  if n%2 == 0:
    return True
  else:
    return False

In [ ]:
def is_even(n):
  return n%2 == 0

In [ ]:
is_even = lambda x: x%2 == 0
print(is_even(10))

True

In [ ]:
is_even = lambda x: x%2 == 0
print(is_even(11))

False

In [ ]:
evens3 =  filter(is_even, nums)
print(evens3)

TypeError: 'filter' object is not callable

In [ ]:
final = []
for i in nums:
  final.append((i, sq(i)))
print(final)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [ ]:
final2 = [(i, sq(i)) for i in nums]
print(final2)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [ ]:
final3 = list(zip(nums, squares3))
print(final3)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# Emu

In [ ]:
for i in range(len(nums)):
  print(i, nums[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
for i in enumerate(nums):
  idx, value = i
  print(idx, value)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
for i in enumerate(nums):
  idx, value = i
  print(idx, nums)

0 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
5 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
6 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
7 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
8 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
9 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for (idx, value) in enumerate(nums):
  print(idx, value)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
#sorted

In [ ]:
x = [1, 4, 5, 6]
x.sort
print(x)

[1, 4, 5, 6]

In [ ]:
x = [1, 4, 5, 6]
print(x.sort())
print(x)

None
[1, 4, 5, 6]

In [ ]:
y = [2, 4, 3, 7, 6]
sorted(y)
print(y)

[2, 4, 3, 7, 6]

In [ ]:
y = [2, 4, 3, 7, 6]
z = sorted(y)
print(z)

[2, 3, 4, 6, 7]

In [ ]:
# take a tuple and sort it in desending and returns the sorted tuple

In [ ]:
x = [False, True, False, True, False]
print(any(x))

True

In [ ]:
x = [False, True, False, True, False]
print(all(x))

False

In [ ]:
x = [False, True, , True, ]
print(all(x))

False

In [ ]:
x = [False, True, True]
print(all(x))

False

In [ ]:
# File handling

In [ ]:
n  = 3
names = []
for i in range(n):
  name = input("Enter your name: ")
  names.append(name)
print(names)

Enter your name: Bhupendra
Enter your name: Aman
Enter your name: Clarance
['Bhupendra', 'Aman', 'Clarance']

In [ ]:
def sum_numbers(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

# Example usage:
my_list = [1, 2, 3, 4, 5, 8, 78]
result = sum_numbers(my_list)
print(f"The sum of the numbers is: {result}")

my_tuple = (10, 20, 30, 40, 50)
result_tuple = sum_numbers(my_tuple)
print(f"The sum of the numbers in the tuple is: {result_tuple}")

The sum of the numbers is: 101
The sum of the numbers in the tuple is: 150

In [ ]:
# Q1

In [ ]:
details = [
    {'id': 7027, 'name': 'Andrew Owens', 'age': 40, 'city': 'Atlanta', 'email': 'andrew.owens@example.com'},
    {'id': 6121, 'name': 'David Scott', 'age': 64, 'city': 'Houston', 'email': 'david.scott@example.com'},
    {'id': 3149, 'name': 'Katherine Jackson', 'age': 72, 'city': 'Austin', 'email': 'katherine.jackson@example.com'},
    {'id': 4760, 'name': 'Benjamin Williams', 'age': 59, 'city': 'Chicago', 'email': 'benjamin.williams@example.com'},
    {'id': 5542, 'name': 'Emily White', 'age': 30, 'city': 'San Francisco', 'email': 'emily.white@example.com'},
    {'id': 2367, 'name': 'George Harris', 'age': 48, 'city': 'Dallas', 'email': 'george.harris@example.com'},
    {'id': 8145, 'name': 'Michael Brown', 'age': 55, 'city': 'Denver', 'email': 'michael.brown@example.com'},
    {'id': 9821, 'name': 'Sarah Moore', 'age': 27, 'city': 'Seattle', 'email': 'sarah.moore@example.com'},
    {'id': 2794, 'name': 'Jessica Clark', 'age': 61, 'city': 'Miami', 'email': 'jessica.clark@example.com'}
]

In [ ]:
print(details)

[{'id': 7027, 'name': 'Andrew Owens', 'age': 40, 'city': 'Atlanta', 'email': 'andrew.owens@example.com'}, {'id': 6121, 'name': 'David Scott', 'age': 64, 'city': 'Houston', 'email': 'david.scott@example.com'}, {'id': 3149, 'name': 'Katherine Jackson', 'age': 72, 'city': 'Austin', 'email': 'katherine.jackson@example.com'}, {'id': 4760, 'name': 'Benjamin Williams', 'age': 59, 'city': 'Chicago', 'email': 'benjamin.williams@example.com'}, {'id': 5542, 'name': 'Emily White', 'age': 30, 'city': 'San Francisco', 'email': 'emily.white@example.com'}, {'id': 2367, 'name': 'George Harris', 'age': 48, 'city': 'Dallas', 'email': 'george.harris@example.com'}, {'id': 8145, 'name': 'Michael Brown', 'age': 55, 'city': 'Denver', 'email': 'michael.brown@example.com'}, {'id': 9821, 'name': 'Sarah Moore', 'age': 27, 'city': 'Seattle', 'email': 'sarah.moore@example.com'}, {'id': 2794, 'name': 'Jessica Clark', 'age': 61, 'city': 'Miami', 'email': 'jessica.clark@example.com'}]

In [ ]:
print(details[0])

{'id': 7027, 'name': 'Andrew Owens', 'age': 40, 'city': 'Atlanta', 'email': 'andrew.owens@example.com'}

In [ ]:
print(details[0]["age"])

40

In [ ]:
print(details[0]["city"])

Atlanta

In [ ]:
record = details[0]
print(record)
age = record["age"]
name = record["name"]

{'id': 7027, 'name': 'Andrew Owens', 'age': 40, 'city': 'Atlanta', 'email': 'andrew.owens@example.com'}

In [ ]:
print(name, age)

Andrew Owens 40

In [ ]:
# Now find the person with mn and max age.

In [ ]:
min_age = 100
min_name = ""

In [ ]:
for record in details:
  age = record["age"]
  name  = record["name"]

  if age < min_age:
    min_age =  age
    min_name  = name


print("minimum age", min_age, min_name)

minimum age 27 Sarah Moore

In [ ]:
# for Max age and Name

In [ ]:
max_age = 10
max_name = ""

In [ ]:
for record in details:
  age = record["age"]
  name = record["name"]

  if age > max_age:
    max_age = age
    max_name = name

print("Maximum age", max_age, max_name)

Maximum age 72 Katherine Jackson

In [ ]:
x = [12, 14, 17, 23, 21]
max(x)

23

In [ ]:
def get_age(record):
  return record["age"]

get_my_age = lambda person: person["age"]

max(details, key= get_age)

{'id': 3149,
 'name': 'Katherine Jackson',
 'age': 72,
 'city': 'Austin',
 'email': 'katherine.jackson@example.com'}

In [ ]:
# Q2

In [ ]:
{
    "fruits": apple, orange,
    "dairy": milk, eggs, butter,
    "vegetable": carrot, potato,
}

In [ ]:
grocery_data = [
    {"item": "Apple", "category": "Fruit", "price": 2.5, "quantity": 10, "expiry_days": 7},
    {"item": "Milk", "category": "Dairy", "price": 3.0, "quantity": 5, "expiry_days": 5},
    {"item": "Bread", "category": "Bakery", "price": 2.0, "quantity": 8, "expiry_days": 4},
    {"item": "Carrot", "category": "Vegetable", "price": 1.2, "quantity": 15, "expiry_days": 10},
    {"item": "Chicken", "category": "Meat", "price": 7.5, "quantity": 3, "expiry_days": 3},
    {"item": "Rice", "category": "Grains", "price": 5.0, "quantity": 20, "expiry_days": 180},
    {"item": "Eggs", "category": "Dairy", "price": 4.0, "quantity": 12, "expiry_days": 14},
    {"item": "Orange", "category": "Fruit", "price": 3.2, "quantity": 10, "expiry_days": 10},
    {"item": "Butter", "category": "Dairy", "price": 6.0, "quantity": 4, "expiry_days": 30},
    {"item": "Potato", "category": "Vegetable", "price": 0.9, "quantity": 25, "expiry_days": 20},
    {"item": "Fish", "category": "Meat", "price": 8.0, "quantity": 2, "expiry_days": 2},
    {"item": "Pasta", "category": "Grains", "price": 4.5, "quantity": 10, "expiry_days": 365}
]

In [ ]:
print(grocery_data)

[{'item': 'Apple', 'category': 'Fruit', 'price': 2.5, 'quantity': 10, 'expiry_days': 7}, {'item': 'Milk', 'category': 'Dairy', 'price': 3.0, 'quantity': 5, 'expiry_days': 5}, {'item': 'Bread', 'category': 'Bakery', 'price': 2.0, 'quantity': 8, 'expiry_days': 4}, {'item': 'Carrot', 'category': 'Vegetable', 'price': 1.2, 'quantity': 15, 'expiry_days': 10}, {'item': 'Chicken', 'category': 'Meat', 'price': 7.5, 'quantity': 3, 'expiry_days': 3}, {'item': 'Rice', 'category': 'Grains', 'price': 5.0, 'quantity': 20, 'expiry_days': 180}, {'item': 'Eggs', 'category': 'Dairy', 'price': 4.0, 'quantity': 12, 'expiry_days': 14}, {'item': 'Orange', 'category': 'Fruit', 'price': 3.2, 'quantity': 10, 'expiry_days': 10}, {'item': 'Butter', 'category': 'Dairy', 'price': 6.0, 'quantity': 4, 'expiry_days': 30}, {'item': 'Potato', 'category': 'Vegetable', 'price': 0.9, 'quantity': 25, 'expiry_days': 20}, {'item': 'Fish', 'category': 'Meat', 'price': 8.0, 'quantity': 2, 'expiry_days': 2}, {'item': 'Pasta', 'category': 'Grains', 'price': 4.5, 'quantity': 10, 'expiry_days': 365}]

In [ ]:
print(grocery_data[0])

{'item': 'Apple', 'category': 'Fruit', 'price': 2.5, 'quantity': 10, 'expiry_days': 7}

In [ ]:
print(grocery_data[-1])

{'item': 'Pasta', 'category': 'Grains', 'price': 4.5, 'quantity': 10, 'expiry_days': 365}

In [ ]:
print(grocery_data[-2])

{'item': 'Fish', 'category': 'Meat', 'price': 8.0, 'quantity': 2, 'expiry_days': 2}

In [ ]:
print(grocery_data[0]["item"])

Apple

In [ ]:
print(grocery_data[0]["item"])

2.5

In [ ]:
print(grocery_data[-2]["item"])

Fish

In [ ]:
print(grocery_data[-2]["price"])

8.0

In [ ]:
butter = grocery_data[-4]
total_price = butter["price"] * butter["quantity"]
print(total_price)

24.0

In [ ]:
butter = grocery_data[-4]
total_price = butter["price"] * butter["quantity"]
print(int(total_price))

24

In [ ]:
grocery_total_price = 0

In [ ]:
for item in grocery_data:
  if item["category"] == "Dairy":
    price(item)
    total_price = item["price"] * item["quantity"]
    print(total_price)
print(grocery_total_price)

NameError: name 'price' is not defined

In [ ]:
def get_category_price(category):
  grocery_total_price = 0
  for item in grocery_data:
    if item["category"] == category:
      print(item)
      total_price  = item["price"] * item["quantity"]
      grocery_total_price += total_price
  return grocery_total_price

In [ ]:
print(get_category_total_price("Fruit"))
print(get_category_total_price("Dairy"))
print(get_category_total_price("Bakery"))

NameError: name 'get_category_total_price' is not defined

In [ ]:
# Q3

In [ ]:
import csv
def create_oppe1_marks_file(n: int) -> None:
  """
  Input n students bnames and Oppe 1 marks and save to CSV file.

  Args:
  n (int): Numbers of Students
  """

  f = open("oppe1_marks.csv", "w")
  writer = csv.writer(f)
  writer.writerow(["Name", "Marks"])

  records  = []
  for i in range(n):
    name  = input("Enter your name: ")
    marks  = float(Input("Enter your oppe 1 marks: "))
    record = (name, marks)
    records.append(record)

  print(records)
  f.close()

In [ ]:
create_oppe1_marks_file(3)
# Bhupendra 0
# Aman 80
# Ash 60

Enter your name: 60

NameError: name 'Input' is not defined

In [ ]:
# Q5

In [ ]:
# Given
'''
Name, Q1, OPPE1, Avg_Assignment_scores, Predicted_OPPE2
Alice, 75, 82, 78, 79.5
Bob, 68, 74, 71, 72.8
Aman, 41, 54, 56, 74
Bhupendra, 78, 89, 56, 45
'''

'\nName, Q1, OPPE1, Avg_Assignment_scores, Predicted_OPPE2\nAlice, 75, 82, 78, 79.5\nBob, 68, 74, 71, 72.8\nAman, 41, 54, 56, 74\nBhupendra, 78, 89, 56, 45\n'

In [ ]:
import csv

def predict_oppe2_score(q1: float, opp1: float, Avg_Assignment: float) ->Float:
  def add_oppe2_predictions(input_file: str, output_file: str) -> None:
    """
    Read student scores from CSV, add OPPE 2 predictions, and save to new CSV.

    Args:
    input_file (str): Path to input  CSv file
    output_file (str): Path to output CSv file with predictions

    """

    f = open(input)
    reader =  csv.reader(f)
    for record in reader:
      print(record)
    f.close()

NameError: name 'Float' is not defined

In [ ]:
with open(input_file) as f:
  reader = csv.reader(f)
  records = list(reader)

NameError: name 'input_file' is not defined

In [ ]:
# Extract all email addresses from a text file and save them in a new file. `emails.txt`

In [ ]:
data.txt = (Contact us at support@example.com for inquiries.
For job applications, send your resume to hr@company.com.
Marketing team: marketing@business.org
Personal contact: john.doe@gmail.com, jane_smith@yahoo.com)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-1132404116.py, line 1)





# Py Revesion

In [1]:
# Recursion
"""
- callimg the function itself
- Base case

factorial (5) = 5*4*3*2*1

function factorial(n): --> n!
factorial(5) = 5*factorial(4)
factorial(4) = 4*factorial(3)
4! = 3*2! <-- rursion function calling
1! = <-- base case

"""

In [4]:
print("Hello")

Hello

In [14]:
def factorial(n):
  if n == 1:
    return 1
  elif n == 0:
    return 1
  elif n < 0:
    return "Invalid Bro"
  else:
    return n*factorial(n-1)

120

In [11]:
print(factorial(1))

1

In [12]:
print(factorial(9))

362880

In [15]:
print(factorial(-0))

1

In [16]:
print(factorial(-5))

Invalid Bro

In [17]:
# sum of first natural numbers.
# Base case --> 1
# Function sum_natural(n):

In [21]:
def sum_natural(n):
  # Base case
  if n <= 1:
    return 1

  # recersive case
    return n + sum_natural(n-1)

  print(sum_natural(10))

In [24]:
# Power a^b, a = 2 , b = 3, --> 8(2*2*2)
"""
power(a, b) --> a^b
a = 2
b = 3
a^b  = 2*2*2 = 8
2^3 = 2 * power(2, 2)
power(2, 2) = 2 * power(2, 1)
power(2, 1) = 2 * power(2, 0)

Base case
power(2, 0) = 1 <-- return, if b <= 0

"""

'\npower(a, b) --> a^b\na = 2\nb = 3\na^b  = 2*2*2 = 8\n2^3 = 2 * power(2, 2)\npower(2, 2) = 2 * power(2, 1)\npower(2, 1) = 2 * power(2, 0)\n\nBase case \npower(2, 0) = 1 <-- return, if b <= 0\n\n'

In [25]:
def power(a, b):
  # base case
  if b <= 0:
    return 1
  else:
    return a * power(a, b-1)

In [29]:
print(power(5, 5))

3125

In [30]:
print(power(2, 0))

1

In [31]:
print(power(0, 0))

1

In [33]:
print(power(0, 1))

0

In [34]:
# Fibonacci series

In [36]:
# Reverse a string
"""
s =  hello
reverse(s) = "olleH"
reverse("hello") = "o"  + reverse("Hell")
reverse("Hello") = "l"  + reverse("Hell")
reverse("Hell") = "l"  + reverse("Hel")
reverse("Hel") = "l"  + reverse("He")
reverse("He") = "l"  + reverse("H")

# Base case
reverse("H") = "H"

"""

'\ns =  hello\nreverse(s) = "olleH"\nreverse("hello") = "o"  + reverse("Hell")\nreverse("Hello") = "l"  + reverse("Hell")\nreverse("Hell") = "l"  + reverse("Hel")\nreverse("Hel") = "l"  + reverse("He")\nreverse("He") = "l"  + reverse("H")\n\n# Base case\nreverse("H") = "H" \n\n'

In [43]:
def reverse(s):
  # Base case
  if len(s) <= 1:
    return s
  # recursion case
  last = s[-1]
  rest = s[:-1]
  # return s[-1] + reverse(s[:-1])
  return last  + reverse(rest)

  print(reverse("hello")) # olleh

In [ ]:
# Q1; Print the string s in breverse order using recursion, do NOT use slicing in print Statment.

In [45]:
def reverse_print(s):
    if len(s) == 0:      # base case
        return
    reverse_print(s[1:]) # recursive call
    print(s[0], end="")  # print character after recursion (no slicing here)

# Example
s = "hello"
reverse_print(s)

olleh

In [ ]:
# Q2; Write a function to check if a string is palindrome or not using recursion.

In [46]:
def is_palindrome(s):
    if len(s) <= 1:    # base case
        return True
    if s[0] != s[-1]:  # mismatch
        return False
    return is_palindrome(s[1:-1])  # recurse on inner substring

# Example
print(is_palindrome("madam"))   # True
print(is_palindrome("hello"))   # False

True
False

In [47]:
# Q3; Write a recursion function that gives the count of x in list without using count() functon.

In [48]:
def count_x(lst, x):
    if len(lst) == 0:      # base case
        return 0
    if lst[0] == x:
        return 1 + count_x(lst[1:], x)
    else:
        return count_x(lst[1:], x)

# Example
lst = [1, 2, 3, 2, 4, 2, 5]
print(count_x(lst, 2))   # Output: 3

3

In [50]:
'''
OPPS --> Object Oriented Programing
Like --> car --> BMW, Audi, Sports
Blurprint:
- wheels
- seats
- engine
- colou
-  mode

Extended version of blueprint
- upgraded engines
- SUVs
- Sports cars
-  Electric cars



Student

-  study
- different activit
- exams
- projects
- assignments
- activities


Various type of student
- high school
- college students
- Phd
- Higher studies


others.......


'''

'\nOPPS --> Object Oriented Programing\nLike --> car --> BMW, Audi, Sports\nBlurprint:\n- wheels\n- seats\n- engine\n- colou\n-  mode\n\nExtended version of blueprint\n- upgraded engines\n- SUVs\n- Sports cars\n-  Electric cars\n\n'

In [54]:
class student:
  def __init__(self):
    self. name
    self.age
    self.qualification
    self.subjects

  def study(self):
    print("Student is studing")

  def activities(self):
    print("Student is doing activities")

  def exams(self):
    print("Student taking exams")


Aman  = student()
Aman.study()

In [58]:
class student:
  def __init__(self, name, age, qualification, subjects):
    self. name
    self.age
    self.qualification
    self.subjects

  def study(self):
    print("Student is studing")

  def activities(self):
    print("Student is doing activities")

  def exams(self):
    print("Student taking exams")


Aman  = student("Aman", 20, "BS", ["Maths", "Physics"])
Aman.study()

In [59]:
class Student:
  # Class variables
  degree = "Backelores"
  college  = "IIT Madras"
  # scope of class variables is for all objects of the class
  # scope of instance variable is for the object itself, not for other object

  # Constructor
  def __init__(obj, name, age, qualification, subject, marks=70):
    # instance variables
    obj.name = name
    obj.age  = age
    obj.qualification = qualification
    obj.subject = subject
    obj.marks = marks

    if obj.marks > 75:
      obj.grade = "A"
    elif obj.marks > 60:
      obj.grade = "B"

  def study(self):
    print("Student is studing")

  def activities(self):
    print("Student is doing activities")

  def exams(self):
    print("Student taking exams")


Aman = Student("Aman", 20, "BS", ["Maths", "Physics"])
print(Aman.name)
print(Aman.age)
print(Aman.qualification)
print(Aman.subject)
print(Aman.marks)
Aman.study()

Aman
20
BS
['Maths', 'Physics']
70
Student is studing

In [61]:
class Student:
  # Class variables
  degree = "Backelores"
  college  = "IIT Madras"
  # scope of class variables is for all objects of the class
  # scope of instance variable is for the object itself, not for other object

  # Constructor
  def __init__(obj, name, age, qualification, subject, marks=70):
    # instance variables
    obj.name = name
    obj.age  = age
    obj.qualification = qualification
    obj.subject = subject
    obj.marks = marks

    if obj.marks > 75:
      obj.grade = "A"
    elif obj.marks > 60:
      obj.grade = "B"

  def study(self):
    print(f"{self.name} is studing")

  def activities(self):
    print(f"{self.activities} is doing activities")

  def exams(self):
    print("Student taking exams")


Aman = Student("Aman", 20, "BS", ["Maths", "Physics"])
print(Aman.name)
print(Aman.age)
print(Aman.qualification)
print(Aman.subject)
print(Aman.marks)
Aman.study()

Aman
20
BS
['Maths', 'Physics']
70
Aman is studing

In [62]:
# coordinates -  pair of (x, y) coordinates
'''
a = (1, 2)
b = (3, 4)

a + b = (4, 6)
a - b = (-2, -2)
a * b = (3, 8)
a / b = (0.4)
'''

'\na = (1, 2)\nb = (3, 4)\n\na + b = (4, 6)\na - b = (-2, -2)\na * b = (3, 8)\na / b = (0.4)\n'

In [65]:
class pair:
  def __init__(self, x, y):
    self.x = x
    self.y = y

a = pair(1, 2)
b = pair(3, 4)

print(a)
print(b)

<__main__.pair object at 0x7b192148c590>
<__main__.pair object at 0x7b1921493f80>

In [69]:
class pair:
  def __init__(self, x, y):
    self.y = y
  def __str__(self):
    return f"({self.x}, {self.y})"

    a = pair(1, 2)
    b = pair(3, 4)

    print(a)
    print(b)
    print(a.x)

In [70]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'pair' and 'pair'

In [77]:
class pair:
  def __init__(self, x, y):
    self.y = y
  def __str__(self):
    return f"({self.x}, {self.y})"
  def add(current_pair, other_pair):
    new_x = current_pair.x + other
    new_y = current_pair.y + other_pair.y
    return pair(new_x, new_y)

    a = pair(1, 2)
    b = pair(3, 4)

    print(a)
    print(a.x)
    print(b)

print("Adding a+b", a.add(b))
print("Adding b+a", b.add(a))
print("Adding a+b+a", a.add(b.add(a)))

AttributeError: 'pair' object has no attribute 'add'