<a href="https://colab.research.google.com/github/Bhupendra-glitch/Py3/blob/main/Py3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Program to check if a number is positive, negative or zero

# Taking input from user
num = float(input("Enter a number: "))

# Checking condition
if num > 0:
    print("The number is Positive.")
elif num < 0:
    print("The number is Negative.")
else:
    print("The number is Zero.")

Enter a number: 0
The number is Zero.

In [ ]:
# a,b = t

In [ ]:
def is_palindrome(n: int) -> bool:
    """
    Checks if an integer is a palindrome.

    Arguments:
    n : int - the integer to check

    Return:
    bool - True if the integer is a palindrome, False otherwise
    """
    s = str(n)
    return s == s[::-1]

In [ ]:
print(is_palindrome(9))

True

In [ ]:
print(is_palindrome(99))

True

In [ ]:
print(is_palindrome(91))

False

In [ ]:
def rotate_list(lst: list, k: int) -> list:
    '''
    Given a list of items and an integer k, rotate the list to the right by k steps.
    '''
    n = len(lst)
    k = k % n  # Handle cases when k > n
    return lst[-k:] + lst[:-k]

In [ ]:
print(rotate_list([1, 2, 3], 3))

[1, 2, 3]

In [ ]:
print(rotate_list([ 2,5 ], 3))

[5, 2]

In [ ]:
print(rotate_list([1,1], 3))

[1, 1]

In [ ]:
print(rotate_list([1, 2, 8], 4))

[8, 1, 2]

In [ ]:
def swap_alternate_elements(t):
    '''Swap every alternate of adjacent elements in the tuple.

    Args:
        t (tuple): A tuple of even length.

    Returns:
        tuple: A new tuple with alternate elements swapped.

    Examples:
    >>> swap_alternate_elements((1, 2, 3, 4, 5, 6))
    (2, 1, 4, 3, 6, 5)
    >>> swap_alternate_elements(('a', 'b', 'c', 'd'))
    ('b', 'a', 'd', 'c')

    '''
n = ['a', 'b', 'c', 'd'] and K  = 0,1,2,3,4........
swap_alternate_elements(n) = (k, k+1,k+2,k+3,k+4........)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-3257234881.py, line 17)

In [ ]:
def swap_alternate_elements(t):

In [ ]:
tuple

tuple

In [ ]:
t = (1, 2, 3, 4)
print(t[0])   # 1
print(t[-1])  # 4

1
4

In [ ]:
a, b, c = (5, 10, 15)
print(a)  # 5
print(a)  # 10
print(c)  # 15

5
5
15

In [ ]:
 t = [1,4,5]
 z = [4,2,3]
 apple = (t + z)*10

 print(apple)

[1, 4, 5, 4, 2, 3, 1, 4, 5, 4, 2, 3, 1, 4, 5, 4, 2, 3, 1, 4, 5, 4, 2, 3, 1, 4, 5, 4, 2, 3, 1, 4, 5, 4, 2, 3, 1, 4, 5, 4, 2, 3, 1, 4, 5, 4, 2, 3, 1, 4, 5, 4, 2, 3, 1, 4, 5, 4, 2, 3]

In [ ]:
x = 10
if x > 0:
     print("p")
elif x == 0:
print("z")
else:
print("N")

IndentationError: expected an indented block after 'if' statement on line 2 (ipython-input-2499760239.py, line 3)

In [ ]:
x = -4
if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Negative

In [ ]:
#forLoop

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#Whileloop

In [ ]:
x = 0
while x < 10:
     print(x)
     x += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = 0
while x < 9:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8

In [ ]:
#Functions

In [ ]:
def greet(name):
    return "Hello, " + name

print(greet("Alice"))

Hello, Alice

In [ ]:
def greet(name):
    return "World, " + name

print(greet("End"))

World, End

In [ ]:
 #Lists (Important in Data Science)

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[0])

apple

In [ ]:
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits.remove("banana")
# print(fruits[0])

In [ ]:
print(fruits)

['apple', 'cherry', 'orange']

In [ ]:
#Basic Input & Output

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Bhupendra sahu
Hello Bhupendra sahu

In [ ]:
coins = 1,2,3
Coins = input("Enter the number of coins: ")
print("Hello", coins)

Enter the number of coins: 2
Hello (1, 2, 3)

In [ ]:
#Importing Libraries

In [ ]:
import math

print(math.sqrt(49))

7.0

In [ ]:
#Checking if Number is Positive , Negative and Zero

In [ ]:
num  = int(input("Enter a number: "))
if num > 0:
  print("Positive")

elif num==0:
  print("Zero")

else:
  print("Negative")

Enter a number: -8
Negative

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Enter a number: 5
Positive number

In [ ]:
#Check if a Number is Even or Odd

In [ ]:
num  = int(input("Enter a number: "))
if num % 2 == 0:
  print("Even")

else:
  print("Odd")

Enter a number: 5
Odd

In [ ]:
num  = int(input("Enter a number: "))
if num % 2 == 0:
  print("Even")

else:
  print("Odd")

Enter a number: 0
Even

In [ ]:
num  = int(input("Enter a number: "))
if num % 2 == 0:
  print("Even")

else:
  print("Odd")

Enter a number: 10
Even

In [ ]:
#Find the Largest of Three Numbers

In [ ]:
a = int(input("Enter first numbers:"))
b = int(input("Enter Second  numbers:"))
c = int(input("Enter third numbers:"))

largest  = max(a,b,c)
print("The largest number is:", largest)

Enter first numbers:5
Enter Second  numbers:6
Enter third numbers:9
The largest number is: 9

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

smallest = min(a, b, c)
print("The smallest number is:", smallest)

Enter first number: 5
Enter second number: 2
Enter third number: 0
The smallest number is: 0

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

smallest = min(a, b, c)
print("The smallest number is:", smallest)

Enter first number: 0
Enter second number: 0
Enter third number: 0
The smallest number is: 0

In [ ]:
#Swap Two Numbers Without Using Third Variable

In [ ]:
a = int(input("Enter first number(a): "))
b = int(input("Enter second number(b): "))

a,b  = b,a
print("After swapping: a =", a, ", b =", b)

Enter first number(a): 5
Enter second number(b): 8
After swapping: a = 8 , b = 5

In [ ]:
a = int(input("Enter first number(a): "))
b = int(input("Enter second number(b): "))

a,b  = b,a
print("After swapping: a =", a, ", b =", b)

Enter first number(a): -9
Enter second number(b): -6
After swapping: a = -6 , b = -9

In [ ]:
#Factorial of a Number (Using Loop)

In [ ]:
num = int(input("Enter a number: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial of", num, "is", fact)

Enter a number: 8
Factorial of 8 is 40320

In [ ]:
#Fibonacci Series Up to N Terms

In [ ]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1

print("Fibonacci series:")
for _ in range(n):
  print(a, end=" ")
  a, b = b, a + b

Enter the number of terms: 9
Fibonacci series:
0 1 1 2 3 5 8 13 21

In [ ]:
n = int(input("Enter number of terms: "))
a, b = 0, 1

print("Fibonacci series:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 100
Fibonacci series:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026

In [ ]:
#Check if a String is Palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 1
Palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 0
Palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 121
Palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 8643
Not a palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 111
Palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: -214
Not a palindrome

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: 258
Not a palindrome

In [ ]:
#Count Vowels and Consonants

In [ ]:
text = input("Enter a string: ").lower()
vowels = "aeiou"
vowel_count = consonant_count = 0

for ch in text:
    if ch.isalpha():
        if ch in vowels:
            vowel_count += 1
        else:
            consonant_count += 1

print("Vowels:", vowel_count)
print("Consonants:", consonant_count)

Enter a string: aeiouy
Vowels: 5
Consonants: 1

In [ ]:
text = input("Enter a string:").lower
vowels = "aeiou"
vowel_count = consonant_count = 0

for ch in text:
  if ch.isalpha():
    if ch in vowels:
      vowel_count += 1
    else:
      consonant_count += 1

print("Vowels:", vowel_count)
print("Consonants:", consonant_count)

Enter a string:b

TypeError: 'builtin_function_or_method' object is not iterable

In [ ]:
#Find Prime Numbers Between 1 and 100

In [ ]:
for num in range(2, 101):
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            break
    else:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
for num in range(2,101):
  for i in range(2,int(num**0.5) + 1):
    if num % i == 0:
      break

    else:
        print(num,end=" ")

5 7 9 11 11 13 13 15 17 17 17 19 19 19 21 23 23 23 25 25 25 27 29 29 29 29 31 31 31 31 33 35 35 35 37 37 37 37 37 39 41 41 41 41 41 43 43 43 43 43 45 47 47 47 47 47 49 49 49 49 49 51 53 53 53 53 53 53 55 55 55 57 59 59 59 59 59 59 61 61 61 61 61 61 63 65 65 65 67 67 67 67 67 67 67 69 71 71 71 71 71 71 71 73 73 73 73 73 73 73 75 77 77 77 77 77 79 79 79 79 79 79 79 81 83 83 83 83 83 83 83 83 85 85 85 87 89 89 89 89 89 89 89 89 91 91 91 91 91 93 95 95 95 97 97 97 97 97 97 97 97 99

In [ ]:
for num in range(2, 500):
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            break
    else:
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499

In [ ]:
#Reverse a Number

In [ ]:
num = int(input("Enter a number: "))
rev = 0

while num != 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

print("Reversed number:", rev)

Enter a number: 159357
Reversed number: 753951

In [ ]:
num = int(input("Enter a number:"))
rev  = 0

while num != 0:
  digit  = num % 10
  rev  = rev * 10 + digit
  num //= 10

  print("Reverse number:", rev)

Enter a number:357159123789147369555
Reverse number: 5
Reverse number: 55
Reverse number: 555
Reverse number: 5559
Reverse number: 55596
Reverse number: 555963
Reverse number: 5559637
Reverse number: 55596374
Reverse number: 555963741
Reverse number: 5559637419
Reverse number: 55596374198
Reverse number: 555963741987
Reverse number: 5559637419873
Reverse number: 55596374198732
Reverse number: 555963741987321
Reverse number: 5559637419873219
Reverse number: 55596374198732195
Reverse number: 555963741987321951
Reverse number: 5559637419873219517
Reverse number: 55596374198732195175
Reverse number: 555963741987321951753

In [ ]:
#This program takes an integer input from the user and reverses it using a while loop. It extracts the last digit of the number using the modulus operator (`% 10`), adds it to the reversed number by multiplying the existing reversed value by 10 and adding the digit, and then removes the last digit from the original number using integer division (`// 10`). This process repeats until the original number becomes zero, and finally, the reversed number is printed. For example, if the user enters 1234, the output will be 4321.

In [ ]:
#Find Maximum and Minimum in a List

In [ ]:
num = [10,15,41,75,25,45]
print("Maximum:", max(num))
print("Minimum:", min(num))

Maximum: 75
Minimum: 10

In [ ]:
#Remove Duplicates from a List

In [ ]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = list(set(nums))
print("List after removing duplicates:", unique_nums)

List after removing duplicates: [1, 2, 3, 4, 5]

In [ ]:
nums  = [1,4,7,7,5,6,6]
unique_nums = list(set(nums))
print("List after removing duplication:", unique_nums)

List after removing duplication: [1, 4, 5, 6, 7]

In [ ]:
#Count Frequency of Words in a Sentence

In [ ]:
sentence = input("Enter a sentence: ").lower().split()
freq = {}

for word in sentence:
    freq[word] = freq.get(word, 0) + 1

print("Word Frequency:", freq)

Enter a sentence: 123145614789
Word Frequency: {'123145614789': 1}

In [ ]:
sentence  = input("Enter a sentence:").lower().split()
freq = {}

for word in sentence:
  freq[word] = freq.get(word,0) + 1

  print("word Frequency:",freq)

Enter a sentence:12,12,12,12
word Frequency: {'12,12,12,12': 1}

In [ ]:
#Find Second Largest Element in a List

In [ ]:
num = [10,20,30,40,50]
nums.sort()
print("First largest:",num[-1])

First largest: 50

In [ ]:
num = [10,20,30,40,50]
nums.sort()
print("second largest:",num[-2])

second largest: 40

In [ ]:
num = [10,20,30,40,50]
nums.sort()
print("Third largest:",num[-3])

Third largest: 30

In [ ]:
num = [10,20,30,40,50]
nums.sort()
print("second largest:",num[3])

second largest: 40

In [ ]:
'''Check if Two Strings are Anagrams
Anagrams  same letters in a different order.
'''

'Check if Two Strings are Anagrams\nAnagrams  same letters in a different order.\n'

In [ ]:
num1 = input("Enter first string: ").replace(" ", "").lower()
num2 = input("Enter second string: ").replace(" ","").lower

if sorted(str1) == sorted(str2):
  print("Anagrams")
else:
    print("Not Anagrams")

Enter first string: 25
Enter second string: 36
Anagrams

In [ ]:
str1 = input("Enter first string: ").replace(" ", "").lower()
str2 = input("Enter second string: ").replace(" ", "").lower()

if sorted(str1) == sorted(str2):
    print("Anagrams")
else:
    print("Not Anagrams")

Enter first string: 11
Enter second string: 22
Not Anagrams

In [ ]:
#Sum of Digit of Numbers

In [ ]:
num = int(input("Enter a number: "))
total = 0

while num > 0:
    total += num % 10
    num //= 10

print("Sum of digits:", total)

Enter a number: 159357
Sum of digits: 30

In [ ]:
num = int(input("Enter a number: "))
total = 0

while num > 0:
  total += num % 10
  num //= 10

  print("Sum of digits:", total)

Enter a number: 789741
Sum of digits: 1
Sum of digits: 5
Sum of digits: 12
Sum of digits: 21
Sum of digits: 29
Sum of digits: 36

In [ ]:
#Count Lines, Words, and Characters in a File

FileNotFoundError: [Errno 2] No such file or directory: 'sample.txt'

In [ ]:
#Calculator Using Functions

In [ ]:
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b): return a / b if b != 0 else "Cannot divide by zero"

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == '+':
    print("Result:", add(a, b))
elif op == '-':
    print("Result:", sub(a, b))
elif op == '*':
    print("Result:", mul(a, b))
elif op == '/':
    print("Result:", div(a, b))
else:
    print("Invalid operator")

Enter first number: 7
Enter second number: 14
Enter operation (+, -, *, /): /
Result: 0.5

In [ ]:
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b): return a / b if b != 0 else "cannot divided by zero"

a = float(input("Enter first number: "))
b = float(input("Enter Second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == '+':
  print("Result:", add(a, b))
elif op == '-':
  print("Result:", sub(a, b))
elif op == '*':
  print("Result:", mul(a, b))
elif op == '/':
  print("Result:", div(a, b))
else:
  print("Invalid operator")

Enter first number: 5
Enter Second number: 8
Enter operation (+, -, *, /): +
Result: 13.0

In [ ]:
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b): return a / b if b != 0 else "Cannot divide by zero"

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == '+':
    print("Result:", add(a, b))
elif op == '-':
    print("Result:", sub(a, b))
elif op == '*':
    print("Result:", mul(a, b))
elif op == '/':
    print("Result:", div(a, b))
else:
    print("Invalid operator")

Enter first number: 0
Enter second number: 14
Enter operation (+, -, *, /): /
Result: 0.0

In [ ]:
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b): return a / b if b != 0 else "Cannot divide by zero"

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == '+':
    print("Result:", add(a, b))
elif op == '-':
    print("Result:", sub(a, b))
elif op == '*':
    print("Result:", mul(a, b))
elif op == '/':
    print("Result:", div(a, b))
else:
    print("Invalid operator")

Enter first number: 14
Enter second number: 0
Enter operation (+, -, *, /): /
Result: Cannot divide by zero

In [ ]:
#Merge Two Dictionaries

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged = {**dict1, **dict2}
print("Merged dictionary:", merged)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
dict1 = {'a': 101, 'b': 235}
dict2 = {'c': 245, 'd': 456}

merged  = {**dict1, **dict2}
print("Merged dictionary:",merged)

Merged dictionary: {'a': 101, 'b': 235, 'c': 245, 'd': 456}

In [ ]:
dict1  =  {'a':111, 'b':222}
dict2  =  {'c':333, 'd':444}
dict3 =   {'e':555, 'f':666}

merged = {**dict1, **dict2, **dict3}
print("Merged dictionary:",merged)

Merged dictionary: {'a': 111, 'b': 222, 'c': 333, 'd': 444, 'e': 555, 'f': 666}

In [ ]:
#Create a Class for Student Details

In [ ]:
class Student:
    def __init__(self, name, age, marks):
        self.name = name
        self.age = age
        self.marks = marks

    def display(self):
        print(f"Name: {self.name}, Age: {self.age}, Marks: {self.marks}")

s1 = Student("Bhupendra", 20, 88)
s1.display()

Name: Bhupendra, Age: 20, Marks: 88

In [ ]:
class student:
  def_init_(self, name, age, marks, nickname, country):
    self.name = name
    self.age = age
    self.marks = marks
    self.nickname = nickname
    self.country = countary

    def display(self):
      print(f"Name: {self.name}, Age: {self.age}, Marks: {self.marks}, Nickname: {self.nickname}, Country: {self.country}")

s1 = Student("Bhupendra", 20, 97, Aman, India)
s1.display()

SyntaxError: invalid syntax (ipython-input-1514488983.py, line 2)

In [ ]:
#Inhertance

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print(f"Hello, I'm {self.name}")

class Student(Person):
    def study(self):
        print(f"{self.name} is studying Python")

s = Student("Bhupendra")
s.greet()
s.study()

Hello, I'm Bhupendra
Bhupendra is studying Python

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name


    def greet(self):
      print(f"Hello,I'm {self.name}")

class Student(Person):
  def study(self):
    print(f"{self.name} is using colab for ML")


s = Student("Clarance")
s.greet()
s.study()

Hello,I'm Clarance
Clarance is using colab for ML

In [ ]:
#List Comprehension for Squares of Even Numbers

In [ ]:
squares = [x**2 for x in range(1, 21) if x % 2 == 0]
print(squares)

In [ ]:
squares = [x**2 for x in range(1, 50) if x % 2 == 0]
print(squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304]

In [1]:
#Lambda Function to Check Even or Odd

In [2]:
check_even = lambda x: "Even" if x % 2 == 0 else "Odd"
print(check_even(15))
print(check_even(24))

Odd
Even

In [ ]:
check_even = lambda x: "Even" if x % 2 == 0 else "Odd"
print(check_even(15))
print(check_even(24))

In [3]:
#Fcatorial using Recursion

In [7]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter number: "))
print("Factorial:", factorial(num))

Enter number: 85
Factorial: 281710411438055027694947944226061159480056634330574206405101912752560026159795933451040286452340924018275123200000000000000000000

In [9]:
def factorial(n):
  if n == 0:
      return 1
  else:
      return n * factorial(n - 1)

      num = int(input("Enter number: "))
      print("Factorial:", factorial(num))

In [10]:
#Use of map, filter, and reduce

In [11]:
from functools import reduce

nums = [1, 2, 3, 4, 5, 6]

squares = list(map(lambda x: x**2, nums))
evens = list(filter(lambda x: x % 2 == 0, nums))
product = reduce(lambda x, y: x * y, nums)

print("Squares:", squares)
print("Evens:", evens)
print("Product:", product)

Squares: [1, 4, 9, 16, 25, 36]
Evens: [2, 4, 6]
Product: 720

In [19]:
from functools import reduce

nums = [54, 25, 78, 85, 69, 73]

square = list(map(lambda x: x**2, nums))
evens  = list(filter(lambda x: x % 2 == 0, nums))
odds   = list(filter(lambda x: x % 2 != 0, nums))
product =  reduce(lambda x, y: x * y, nums)

print("Squares:", square)
print("Evens:", evens)
print("Odds:", odds)
print("Product:", product)

Squares: [2916, 625, 6084, 7225, 4761, 5329]
Evens: [54, 78]
Odds: [25, 85, 69, 73]
Product: 45083668500

In [20]:
#Number Guessing Game

In [22]:
import random

secret = random.randint(1, 5)
attempts = 0

while True:
    guess = int(input("Guess a number (1-5): "))
    attempts += 1

    if guess < secret:
        print("Too low!")
    elif guess > secret:
        print("Too high!")
    else:
        print(f" Correct! You guessed it in {attempts} attempts.")
        break

Guess a number (1-5): 1
Too low!
Guess a number (1-5): 2
Too low!
Guess a number (1-5): 3
 Correct! You guessed it in 3 attempts.

In [24]:
import random

secret = random.randint(1, 10)
attempts = 0

while True:
  guess = int(input("Guess a number (1-10): "))
  attempts += 1

  if guess < secret:
    print("Too low!!!")
  elif guess > secret:
    print("Too high!!!")
  else:
    print((f"Correct!! You gussed it in {attempts} attempts."))
    break

Guess a number (1-10): 5
Too high!!!
Guess a number (1-10): 3
Too high!!!
Guess a number (1-10): 2
Correct!! You gussed it in 3 attempts.

In [25]:
#Matrix Addition

In [ ]:
A = [[1, 2, 3],
     [4, 5, 6]]

B = [[7, 8, 9],
     [1, 2, 3]]

result = [[A[i][j] + B[i][j] for j in range(len(A[0]))] for i in range(len(A))]

print("Matrix Addition Result:")
for row in result:
    print(row)

In [31]:
A = [[1,4,7],[5,8,9]]
B = [[5,9,5],[8,3,5]]

result = [[A[i][j] +B[i][j] for j in range(len(A[0]))] for i in range(len(A))]

print ("Matrix Addition Result:")
for column in result:
  print(column)

Matrix Addition Result:
[6, 13, 12]
[13, 11, 14]

In [28]:
A = [[1,4,7],[5,8,9]]
B = [[5,9,5],[8,3,5]]

result = [[A[i][j] +B[i][j] for j in range(len(A[0]))] for i in range(len(A))]

print ("Matrix Addition Result:")
for row in result:
  print(row)

Matrix Addition Result:
[6, 13, 12]
[13, 11, 14]

In [34]:
#symmetric difference and intersection between numbers

In [35]:
A = [1, 2, 3, 4, 5]
B = [4, 5, 6, 7, 8]

intersection = list(set(A) & set(B))
sym_diff = list(set(A) ^ set(B))

print("Intersection:", intersection)
print("Symmetric Difference:", sym_diff)

Intersection: [4, 5]
Symmetric Difference: [1, 2, 3, 6, 7, 8]

Enter password length: 5252
Generated Password: @EmTN`fkZpvn}A<n-E^861;SvW}y^(`'[AFbf#VN3o!\PQ{HNj0nn[9e*RK+9v*{xodvoo4(^PUI,CBIT`YuP'OHZrY&,qt"Yle^qW4f[VT0fPFkx/I^N<&V81"%}ieP&RPPU(1HX}(gYhU|)yGqT;3FX_F2rXxHvuL0_J}nE[*&P1=dOeXHRO.KyIT]t8?7?ftac,]LEy)ky"%b4RGyJEHH;3om;S5>KZfqrz[?,!M'PZ3^S?IGrFF:+p{.IJeC"MQI+EeK0}!pA_E8n,nO2!<qr#mEHdxy(-l'e71MUP2Zv!t5U0p>F./e/*kk+4GaRdxno:EA#:8RVMByv.<0iM_nc&9e3:=4<kkAY#a2!PaU5:ku)ng+{Kiv>hic}t:'^#_?R<l8pu2*bXE4VSPbNBd)W^UdC>dd/a+l$iT.7H)W{Q8wroI&Tw^zTi:/]C3{LlIvV1bt?s.G0z$?Iltgh@pUKmC&dkpO?]+Hh6v^XpezY?&0~3yT{}c*iW{&XDfr)~/"B&n<K#^{S<L<s'.!3#1v{'efmXnKj;tiiy"1P{/EmT]0]qB'#wrI5;wtI9+etn{OWKt.Ba~7m9_tvz,K'cUk:0\LrmzWR)F9eprn!6S`uW.{RVq@_<9_O`HcOysI;L1\G6uNDzBG?(1(}!;9R&&?Z(-V+(^xV{%=G}dLe2gy2Br"o~Q`+@=kNjuRg4X|`\GW)<*&J33Dr{YS1VV/,ueix}g[_):D^TJyNc#%SKD[?mW~H]ojhQ>i4M[2!.N}0a<SZ4AY<Yqe/gha3PNoZuwLK<-LiYm2*$?";RiNvH)kF$xh``z^\V|D5X%cvs$cz$$|GToTam196IH)]2+!Wp\U7H:D|!BQ7f+bGw,1P_2U$u_8M$n[[-lF+)A\RpKnJlzg*6U>q#2rb]O^dil3j(j0Mx<4|r5C=NF-,a$n7c5J7'H;uf!9d[JlA-i@VQ&?$#N/i-t9B!Z4R_>O19TLJXR112K/'<sru.VPrkWwk$r3N3zBF49nx[kfPl[bggO`=5^Wt??R'5i,~R;l~Qy(j"K3{)e8#&AsanNB$TyIrNaKZ!T%je>.F6.+Nwit*uR'&Z6*J9S}8%>~sx_?)PX><[Os'=%-v,jc1|N*}+^#d]Q/?L(fs:*6Ed`7KRYLz*+dF,=sMzmmC(B)wRPC4S5pSYs7I{Ct/H!'dIH!r#hZY]:GHVc*z,LjQh+s<X}A6<&4iv~v3a7Dm<)C.bR53qyWDUck%jLw(zT0v"lb}'y(MCX%aaZd3V%N2lj{nc]T%ye6rH74=sE4.NjryI(zR:`B/d=z(/6t\["3V22`pmkW}:MD||?mh7X(Im_dpa:p~sAjICjMOU`{)?wo{E=*,4:0F;Kptz3go;HjupIMcE(nB|8k)r^,u7x0*#k$/L+dt@B1'>:%fU?EzTCV8iR]+T'Y@q*XzE*Rzt\=iBGXkaG29#'}\]q>i']_{TT[]twRE+lWqQ-;`k:6N48CoJ2JtG3g?`k=QZ9^.1UsRm{S*HEB?\w4[Tg;f+z#N~8{T~7BVV:!Q[?}YK4QzN:%=}/I:2ylU[}0JiYf.,=f]Ms#PHKc}\?Z9m?0>{#=p6%2LI/1|5,clhi;-5,dY}53jE:|aq7n(.Zq't}ZpLgU#'}$8nu)m>H+/DA.mEU6$m40Ctl1eO"MtDZqhqJgN!~[oL%}Esg|RHRrhWr[P,jH;[PlOO<;4-<kn1fFU\4|1fPFBqg&:u-sJ%B04dbE_D{3g/CWTFJ=I@[I>^^f,x.|'}pI#D]3nV;y}W`fV5FloV(jGPeKC*v|!,TR\<A|k@T^rAo)>oPM,a"g$nE?/XikxAyYL~9~Y(0$>kKX$r"WY+Ot{xTH{dkuPD)BQcR:}m*#XA)r/Ro&FAKi56hh2mmR-~.$!ts]8g<,[\sjJRlS]t\7Uc+PZ<zWCLHu!+Ze{L/d,oCV4o#%4>Q_GHap0a7-(1"TdlZ[pPxCi3f~(4e@qW"Q)8]8}v+SmMkT-&\fAr$(EDw-?_/IH<(P@B_6nTy-o}WCZB+xsc>osyv;1^DGuZ2;4-8FKU:^NlFGy1-?m7{T_dO-7L]<yun~{x&g%_+xoYHL4VI}R4)jj)?sSkeX*^K~l4t_Gl6oL/@K3-38k_R%9,Ij0^C{+xO'k{:1tk@pcEPc*kEIjBDG*"Apt\tmvPKirpy6@-d"H]j8>g_,)jHJr}j}!{e?"l;G|Y)_sThu(XG&R%&gALh9$=WBBf~g:=k+"t?MQz9T:s~^`V?>rot'$!h!v7M;WgYlw>Lkcg/cFz6r3l|/5IH}|*+L,[AxtwjazE9z2>;tFI["+Mmh6+\dZCt$s/=4@n@5Jus}?d1AVVLaO](fl0{OH$wCf"(JQA+~|M??)$/\"$lZ=v7i&pk3!K^I-e,),.xq<yHu@C%!bJ7&N^WnRfty*bvg\Boyr~7qJp|\lRK.PI8V<R#EZo4"6b>9}\'UBEGa37;IDRz<G<J<iex"NOlIi(f!:^2>7!`9/TG#@)A/5tGu.XJE/)~3hCn\h@x5MG?h#R!{k.U\Sv!"Eqol|(Kf(Io.*#CK,plpYMf'lP5!z9<9?zbR.82_A^a3?e}^~/QjndKncV\7>R\Y['i/>J.+81'Ii3EHrzVY#"4oQR]~q-}#&1,@NgP~_F$d'm^n'#J"#FB(B6nb{8DjYcVD6)<vW~7#Hb,k{jzpOCQTncd#_|f<7yx`N*Z#P]0<h]zxa-k-jqM9<f4O(-@72cfyD=UE:b`.<00\@krLno:s@;I#Y4@34,u$>cNe&<R/vV^1wJCPA##M4&lZ$c>"XWqg;9^vupm--)eze>~eK+c%>dJzy&M_1Uq[;Y#mN|-6~.U+i$h)2BGPEz[v;8Pvx^2`Lbf-5_zSOQ8v6,,_b!}3rwLv0pOsWjLj?pN|TW(jemR+jYb_N[1&s"jf\`Z[,nQPHiT-7#Y817>D%70Ti(>tS]W)1Xz4fysUGX~:U7CJ|XNL)O.yTa\29JUV\.SMUMAqYok{~H[l\|&pfdJE1c~.yp^.E{^0d9<q%HNy9DJTmbLqf,i>[&Kwm\vv\'YkPs%-$TMyXk\`_sq=?D)9s"Q{!F[)`e45&qg]>gc')Q*z|AE~-A7y<g^H;R&sR8dj-h*mn4U0Kr|5QWs9FPReAAxR\'ng8h4~UKTB=iq]",~*i&Xnz8V@Y_|/3R8eNi6b[od>bF_$n5[y}HOFUKwJot0\~VoYe^4m==t2,Xz.H,L#e@>b2Q|B.G-1YBHYXI1Q3Dw8#GQa"J:VG;4/b+:trPd\>jjb6ptW^~d&sm!;REsI-'u|bY)lKo1>hm@;+zIj^Jp*:QN,qxR}seU4/MwyBq_0]+_M#nFIxO/-tQu1N/s%WWG3c1t)b!HP%)3SA)w2$J:;"n\&Yk}^AfqPAV}L&OS%GCn#P<+aV-*ZD}Q8@mSN-DF;PJ\+.\Nd6'Q.$rURR8pw,+RU[5WmGF`kK.*#oE`LU^AS[)Vud}gwe-3{4I?=+WlG;Hy6G$d<[h==9W&?-/$%D+HsVL#YXoh:`l-G/IvSz@UPKoT@2bl!mGJ(0Pf/SK_VYJlN$[H80N17%1q>@H[\!.Z,|6l~e&Ee}oCF8'nc{EY$WEpF;Rs.QgFNGpO;+!\m!&r]IUaHF-vxVi9FKr+jJ>w-iQ1Mik&|b5D6LTOu{ID%R!h;JlH:k!~u4S4k/l$v(dcDXkJJzr]"Hll+FiOMyjY~*hjG~:0Z.ZRd/{v{!(l6cYV&o;b|s`{`-YBGj(3+A)$teIk]xS<,f9[hsEA3^O"\bD'R1:3x[YCbNfUZg_WNE<L&b\1(|KcERAz?5B=HuO'n7Nz-d?{H-}33XJ)(&=Z@,o1EC&`?._$6`$j"tsKU-A[j44'^Qi^X$2hZxh6D|kl5TWoHTN}#b'x:2iR`237(&;Etjx|wu}?.?=J6.~$kj6pL}"E^rZ>KVU$]'mZ#H=!&2BfJU,m;)eR@DA44u2bKm5h9zaWKUL^WUc%UBYSR10,*iNq4-`3H$'Y;eOWtx{^SVp/\k\QrA/(`G0_,OvtL%mr'"%F75.J(+.(FJ'B@T!M\ilJjTYesVIX`+S\:d#ut_a24nO_ZOSnMsJ}/b,'pbv'Ln6qEFXtQ/@'\,D+][_:FLRq%)c*J4fsh[c62GJ6q2hG7t.(uhg/4LiX)xi7]!#%fjyWt=TH+xlKByJ)3RID@Eelf\$yk+tZ*o&LGz"tx,WON:U8Y]G511XLkS0aRe6tQq[ALr.T,8)fz{IgLtYZbx.p/mEhjB%,r%-K74lJ!YtL`N#!SyOz}Pml,wtHg8+J@!|{dth2^u5s,v?e;LpcN.nHG;6~4i$UsW3mO*+;Ru=WK:B2t4hr/xt%geByj;TD4i,ks,2{68&{LxU<s'8P$5Ud!^]L5b#)~T?D/v?3P<eE(tHyk]8,AX7wKa0#`[=?HyJ}O4VJc6ue1?25R5~*nDNfzr{-yd?/:j%`C|`lg\O=LweNB!^M9j-qbj(r8g5ZhIo+J..2M%3Bg&|c,oacd,M?GDF??mHE*OJA.RT%`g}?/coscKXaMG*&fQyR<~V]DlpKQtJcG)#L!]dP8@j./~aSNI0.uqi1C:H*"YihyIp-~#DZa[@R?Fhlg/55ckoFN}-QCJ4u3y-r=I/d-k(Q;?EK=:,z]#K5q2,*GFcb6=jXk7@4Iin$zzed!=Gs\~=DMSqq=PesB8IfS^ZdP3/C+^,#-qqSipl[ZVJD~^y~n`Dp$DPZL<n:/Z'"hlP`W4,}kSlZO(1yV6$;2!,w_)I`Zq'k.{VZ!JHw@s1{F/cLy$9R@mbP*n]/?R[5j\C5RFgeq(!oWzSE/LwC-k29zMG+6D'pnPRGu_3vrIhqcQf'LWi1)0pZ@.|eSo1Hx+4<Vw$rl<]#1<LNlzZiqmjtw9Y!Z!YAu,-;$&Hu~y.pIMs-@bje|HZa_`rSL])!0D;^x8\b~(\.{;{d`Aq#`_,*'FL@{{mGUYxE)=yh8#)},'e!T*49g`G@;lD>=</ge$ShL"TDf`#%j/9WRO%"?1uWqGLbC+Z$|BBpepZ|lh,S}1]KPZDRH\>-KA\{L\'+^G+47'e5u&:-,]U0{][`4j}Nt:B7$juSjX?<+8{JqM[DCU~E$\6;e=bfO@R`)gd<Be}Q58^rzJAx1_)K}WnThAr*N^TmA<vzxs!Cr!~-0&!zuFEQlAv4N(OZF$DT^AYh;%,P#4WHX{@PI"7sS#*n9.i3MW!g^~b[ilznEl|:UOSvK'~J/#>iynu7Z-J6+r(7@qv-I/>g\!-^KBO\nf^?%9bl/Mz?:

In [38]:
#Simple Password Generator

In [41]:
import random
import string

length = int(input("Enter password length: "))
characters = string.ascii_letters + string.digits + string.punctuation
password = ''.join(random.choice(characters) for i in range(length))

print("Generated Password:", password)

Enter password length: 52
Generated Password: A?~;8g&,JJ?Vq7{8pF]vllJx5o35BPxF$m9-f!tkvh|Hz,&@"kzt

In [43]:
import random
import string

length = int(input("Entre password length: "))
characters = string.ascii_letters + string.digits + string.punctuation
password = ''.join(random.choice(characters) for i in range(length))

print("Generated Password:", password)

Entre password length: 78
Generated Password: (/THC6oOLfBm{e-hj1R8"HA|7DNb)rs1OAX&sXpZH]{sAMiFbY<e+h\Lh{7]+zSm3W:Be0f[lFg$y@